<h2>Grades</h2>

<p class='italic small'>
Si vous êtes membre du <%= short_name %>, vous avez un grade. Ce grade vous donne différents privilèges. Vous trouverez ci-dessous le détail de ces différents privilèges. Notez que votre grade n'est pas définitif et qu'il peut évoluer en fonction de votre assiduité et de votre ancienneté.
</p>

<h3>Veilleur</h3>
<p>
En qualité de <strong>Veilleur</strong>, vous avez la possibilité de soumettre des idées de sujets d'articles qu'il serait intéressant de trouver publiés sur le <%= short_name %>. Pensez dans ce cas à vérifier la liste des articles en projet grâce au lien ci-dessous.
</p>
<div class='p small right'>
  <%= link_to :articles_en_projet %>
</div>
<p>
Vous avez également la possibilité, si vous êtes inscrit sur des forums de piano, de soumettre ce qu'on appelle des “trolls”, c'est-à-dire des sujets récurrents et/ou à controverse glanés au fil des messages de ce forum. Pour ce faire vous pouvez depuis la page de votre profil.
</p>
<div class='p small right'>
  <%= link_to :profil %>
</div>

<p>
Et bien entendu, comme tout membre du cercle, vous pouvez faire connaitre le <%= short_name %> autour de vous, et principalement aux personnes s'intéressant au piano.
</p>

<h3>Sentinelle</h3>
<p>
En qualité de <strong>Sentinelle</strong>, vous bénéficiez des mêmes privilèges que le grade “Vielleur” ci-dessus.
</p>

<p>
En tant que <em>Sentinelle</em>, vous disposez en plus d'une voix pour voter l'acceptation des nouveaux membres qui posent leur candidature au <%= short_name %>.
</p>

<h3>Rédacteur</h3>

<p>
En qualité de <strong>Rédacteur</strong>, vous bénéficiez des mêmes privilèges que le grade “Sentinelle” ci-dessus. 
</p>
<p>
En tant que <em>Rédacteur</em>, vous avez également la possibilité d'animer un blog sur le site et de participer à la rédaction des articles.
</p>
<p>
Vous disposez également de 2 voix pour voter l'acceptation des nouveaux membres qui posent leur candidature.
</p>

<h3>Administrateur</h3>

<p>
En qualité d'<strong>Administrateur</strong>, vous disposez de tous les privilèges sur le <%= short_name %>.
</p>
<p>
Vous disposez également de 5 voix pour voter l'acceptation des nouveaux membres qui posent leur candidature.
</p>