<h1>Rester informés</h1>

<% 
if param(:operation) == 'add_to_mailing_list'
  require_module 'mailing_list'
  add_to_mailing_list
end
%>

<% if param(:operation) == 'add_to_mailing_list' && no_error? %>

  <p>
  <%= param(:user_name) %>, vous avez été ajouté à la mailing-list du <%= short_name %>.
  </p>
  <p>
  Vous serez informé de tout nouvel article.
  </p>
  <p>
  Un grand merci de votre intérêt&nbsp;! Et bon piano&nbsp;!
  </p>
<% else %>
  <p>
  Pour rester informés des nouvelles publications du site “<%= name %>”, entrez votre adresse mail ci-dessous.
  </p>
  <form id='form_mailing_list' action="index.rb" method="POST" accept-charset="utf-8">
    <%= "add_to_mailing_list".in_hidden(name: 'operation') %>
    <%= "main/rester_informed".in_hidden(name: 'article') %>
    <div class='row'>
      <span class="libelle">Votre nom</span>
      <span class="value"><input type="text" name='user_name' value="<%= param(:user_name) || '' %>" /></span>
    </div>
    <div class='row'>
      <span class="libelle">Votre mail</span>
      <span class="value"><input type="text" name='user_mail' value="<%= param(:user_mail) || '' %>" /></span>
    </div>
    <div class='row'>
      <span class="libelle">Confirmation mail</span>
      <span class="value"><input type="text" name='user_mail_confirmation' value="" /></span>
    </div>
    <p>Question anti-robot&nbsp;: comment s'appelle le musicien qui joue l'instrument auquel est consacré ce site (un timbalier&nbsp;? un guitariste&nbsp;? un percussionniste&nbsp;? autre chose&nbsp;?)</p>
    <div class='row'>
      <span class="libelle"></span>
      <span class="value"><input type="text" name='user_reponse' value="<%= param(:user_reponse) || '' %>" /></span>
    </div>
    
    <div class='row buttons'>
      <span class="libelle"></span>
      <span class="value"><%= "M'informer des nouveaux articles".in_submit %></span>
    </div>
  </form>
<% end %>