<% 
##
## Édition des articles
##
%>
<h2>Édition des articles</h2>

<% 
##
## Si une opération est définie
##
## Note: Elle est définie dans le module articles.rb du dossier articles
## ci-dessus
##
debug "param('operation') : #{param('operation').inspect}"
if param('operation').to_s != ""
  debug "---> App::Operations::#{param('operation')}"
  App::Operations::send(param('operation').to_sym)
end
%>

<% 
##
## Fieldset de synchro
##
fichier = Fichier::new App::Article::pstore
%>
<%= fichier.fieldset_synchro(no_check: true, article: 'admin/articles') %>
<% 
##
## Fieldset pour filtre les articles
##
%>
<fieldset id="filtrage_articles">
  <legend>Filtrage articles</legend>
  <form action="" method="POST" accept-charset="utf-8">
    <%= "admin/articles".in_hidden(name: 'article') %>
    <%= "Tous les articles".in_checkbox(name: 'tous') %>
    <%= "États indéfinis".in_checkbox(name: 'indefinis') %>
    <%= "En projet".in_checkbox(name: 'en_projet') %>
    <%= "Achevés".in_checkbox(name: 'complete') %>
    <%= "Fonctionnels".in_checkbox(name: 'fonctionnels') %>
    <%= "Administration".in_checkbox(name: 'adminis') %>
    <%= row("", "Filtrer".in_submit(class:'btn'), {class: 'buttons'})%>
  </form>
</fieldset>


<% 
##
## Liste des articles
##
%>
<ul id='articles'>
  <li>
    <span class='id'>ID</span>
    <span class='titre'>Titre</span>
    <span class='cote'>Cote</span>
    <span class='etat'>Etat</span>
  </li>
  <% 
  # @all_data = {}
  %>
  <% 
  tous      = param('tous')         == "on"
  indefinis = param('indefinis')    == "on"
  en_projet = param('en_projet')    == "on"
  acheved   = param('complete')     == "on"
  fctionnel = param('fonctionnels') == 'on'
  adminis   = param('adminis')      == 'on'
  tous = true if !indefinis && !en_projet && !acheved && !fctionnel && !adminis
  
  App::Article::each(sort_by_votes: true) do |art| 
    unless tous
      case art.get(:etat) || 0
      when 0 then ok = indefinis
      when 1 then ok = en_projet
      when 2 then ok = fctionnel
      when 3 then ok = adminis
      when 9 then ok = acheved 
      else
        ok = false
      end
      next unless ok
    end
    %>
    <% art.define_titre_if_any %>
    <%= art.as_li %>
    <% unless File.exist? art.fullpath %>
      <%= "L’article ci-dessus est introuvable (#{art.idpath})"%>
      <% 
        debug "### Article introuvable (fichier) : #{art.data.inspect}" 
        debug "### Full path recherchée : #{art.fullpath}"
        debug "### Avec : relpath=#{art.relpath} - name=#{art.name} / folder=#{art.folder}"
        %>
    <% end %>
    <%# @all_data.merge! art.id => art.data %>
  <% end %>
</ul>

<% 
#@all_data.each do |art_id, dart|
%>
  <%#= dart.collect{|k,v| "#{k.inspect} => #{v.inspect}".in_div }.join('').in_div(class: 'air') %>
<%# end %>