<% show_mailing_list %>

<h2>Mailing-list</h2>

<p class='italic'>
Cette partie permet de gérer les mailing-lists, et principalement de transmettre des annonces aux personnes inscrites.<br />
Note&nbsp;: Les données des followers sont ramenées du serveur distant toutes les heures.
</p>

<h3>Formulaire d'annonce à tous les followers</h3>
<% 
##
## Formulaire pour faire une annonce aux followers
##
%>
<form id='form_annonce_followers' action="index.rb" method="POST" accept-charset="utf-8">
  <% 
  ##
  ## Données cachées utiles
  ##
  %>
  <%= "admin/mailing".in_hidden(name: 'article') %>
  <%= "envoyer_annonce".in_hidden(name: 'operation') %>
  
  <% 
  ##
  ## Listing des followers, avec des cases à cocher pour les
  ## choisir ou les retirer
  ##
  %>
  <div class='right small'>
    <%= "Décocher tous".in_a(onclick: "$.proxy(Mailing,'decocher_all')()") %>
    &nbsp;|&nbsp;
    Cocher&nbsp; : 
    <%= "Tous".in_a(onclick: "$.proxy(Mailing,'cocher_all')()") %>
    &nbsp;|&nbsp;
    <%= "Membres".in_a(onclick: "$.proxy(Mailing,'cocher_membres')()") %>
    &nbsp;|&nbsp;
    <%= "Followers".in_a(onclick: "$.proxy(Mailing,'cocher_followers')()") %>
  </div>
  <%= Mailing::show_membres %>
  <%= Mailing::show_followers %>
  
  <%
  ##
  ## Messages préformatés
  ##
  %>
  <fieldset id="messages_preformatés" class="">
    <legend onclick="$('div#messages_preformated').toggle()">Messages préformatés</legend>
    <div id="messages_preformated" style="display:none">
    
      <% 
      ##
      ## Annonce de la publication d'un nouvel article
      ##
      %>
      <div id="div_annonce_new_article">
        <%= "&nbsp;&nbsp;Annonce publication d'un nouvel article".in_checkbox(name: 'annonce_new_article', id: 'cb_annonce_new_article') %>
        <%= param('article_id').to_s.in_input_text(name: 'article_id', style: 'width:40px', onchange: "$.proxy(Mailing,'on_define_id_new_article', this)()") %>
        <div class='italic small'>
          Mettre ci-dessus l'ID du nouvel article en le relevant dans la partie administration. Note&nbsp;: le programme vérifiera automatiquement que l'article a bien été uploadé sur le site.
        </div>
      </div>
      
      <%= row("", "Envoyer".in_submit, {class: 'buttons'} ) %>
    </div>
  </fieldset>
  
  
  <fieldset id="message_personnalised">
    <legend>Message personnalisé</legend>
  <% 
  ##
  ## Définition du message (si autre que pré-formaté)
  ##
  %>
  <div class='row'>
    <span class="libelle">Titre</span>
    <span class="value"><%= (param(:annonce_titre)||"Nouvel article").in_input_text(name: 'annonce_titre') %></span>
  </div>
  <div>Texte de l'annonce&nbsp;:</div>
  <textarea name="annonce_texte" rows="8"><%= param(:annonce_texte) || "Bonjour,\n\n" %></textarea>
  
  <% 
  ##
  ## Options (cases à cocher)
  ##
  %>
  <p class='small italic'>
    <%= "&nbsp;&nbsp;Parser le code comme en ERB".in_checkbox(name: 'parse_erb', class: 'small').in_div %>
    <%= "&nbsp;&nbsp;Si ERB, message personnalité (l'user est bindé). Plus long <strong>ET SURTOUT</strong> : Seules les propriétés .pseudo et .created_at peuvent être utilisées avec les simples followers).".in_checkbox(name: 'bind_user', class: 'small').in_div %>
  </p>
  
  <% 
  ##
  ## Textes explicatifs
  ##
  %>
  <p>
    <div class='small italic'>Note&nbsp;: Si `link_to' est utilisé dans le code, ce sera forcément un lien qui sera renvoyé, avec une URL complète.</div>
    <div class='small italic'>Si le User est bindé, il faut utiliser `app.link_to'.</div>
  </p>
  <p>
  <div class='bold'>Méthodes utiles</div>
  <div>
    <pre>link_to_article <id article></pre> pour générer un lien mail vers un article, par son ID ou son IDPATH.
  </div>
  </p>
  </fieldset>
  <%= row("", "Envoyer".in_submit, {class: 'buttons'} ) %>
</form>
