<h2>Méprise courante concernant les intervalles</h2>

<% 
##
## Dossier contenant les images de cet article
##
rep_img = "music/technique/essentiels"
rep_son = 'technique/essentiels/intervalles'
%>

<h3>Une méprise courante</h3>

<p>
Une erreur classique, lorsque l'on aborde les intervalles —&nbsp;seconde, tierce, quarte, quinte, etc.&nbsp;— est de croire qu'un intervalle est défini pour un nombre de demi-tons. C'est une confusion qui est malheureusement entretenue par beaucoup de tutoriels, de cours amateurs sur internet ou de messages de forum.
</p>

<h3>Nom et Nature des intervalles</h3>

<p>
Ce qu'il est important de comprendre concernant les intervalles, c'est qu'ils sont définis par un NOM —&nbsp;seconde, quarte, sixte, etc.&nbsp;— et une NATURE —&nbsp;mineure, augmentée, etc.&nbsp;— et que :
<ul>
  <li>Le NOM DE L'INTERVALLE est défini par le NOM DES NOTES qui le constituent, <strong>hors de toute altération</strong> (c'est sur ce “hors de toute altération” qu'est commise l'erreur et la confusion classique)&nbsp;;</li>
  <li>La NATURE de l'intervalle est définie par le nombre de tons précis séparant les notes qui le constituent. C'est-à-dire que seule la nature de l'intervalle est déterminée par l'écart “réel”, sonore, entre les deux notes, qui s'exprime en nombre de tons et de demi-tons.</li>
</ul>
</p>


<p>
Ainsi, il y aura toujours une <strong>TIERCE</strong> entre un DO et un MI, quelles que soient les altérations qui affectent ces deux notes (ici, ne surtout pas confondre “note”, qui est une abstraction, et “son”, qui est une réalité sonore).
</p>

<h3>Comment trouver le nom de l'intervalle&nbsp;?</h3>

<p>
Pour retrouver le NOM d'un intervalle (mais pas encore sa NATURE), il suffit 1/ de connaitre l'ordre des notes —&nbsp;DO RÉ MI FA SOL LA SI&nbsp;— et de savoir compter.
</p>

<p>
Si je veux connaitre le NOM de l'intervalle entre MI et RÉ, quelles que soient les altérations qui affectent ces deux notes, je compte&nbsp;:
</p>

  <table border="0" cellspacing="5" cellpadding="5" style="text-align:center">
    <tr>
      <td colspan="2"></td><td colspan="7" style="border-width:1px 1px 0 1px;border-style:solid;border-color:blue;"></td><td colspan="2"></td>
    </tr>
    <tr>      <td>DO</td><td>RÉ</td><td><strong>MI</strong></td><td>FA</td><td>SOL</td><td>LA</td><td>SI</td><td>DO</td><td><strong>RÉ</strong></td><td>MI</td><td>…</td>
    </tr>
    <tr>
      <td colspan="2"></td><td><strong>1</strong></td><td>2</td><td>3</td><td>4</td><td>5</td><td>6</td><td><strong>7</strong></td><tdcolspan="2"></td>
    </tr>
    <tr>
      <td colspan="8"></td><td>7</td><td colspan="2" class='left'>=> SEPTIÈME</td>
    </tr>
  </table>

<p>
Si je veux connaitre l'intervalle entre FA bémol et SI double-dièse&nbsp;:
</p>

  <table border="0" cellspacing="5" cellpadding="5" style="text-align:center">
    <tr>
      <td colspan="3"></td><td colspan="4" style="border-width:1px 1px 0 1px;border-style:solid;border-color:blue;"></td><td colspan="5"></td>
    </tr>
    <tr>      <td>DO</td><td>RÉ</td><td>MI</td><td><strong>FA</strong></td><td>SOL</td><td>LA</td><td><strong>SI</strong></td><td>DO</td><td>RÉ</td><td>MI</td><td>…</td>
    </tr>
    <tr>
      <td colspan="3"></td><td><strong>1</strong></td><td>2</td><td>3</td><td><strong>4</strong></td><tdcolspan="4"></td>
    </tr>
    <tr>
      <td colspan="6"></td><td>4</td><td colspan="5" class='left'>=> QUARTE</td>
    </tr>
  </table>


<h3>Des situations parfois cocasses</h3>

<p>
Le cas le plus cocasse est le suivant&nbsp;: puisqu'il y aura toujours une TIERCE —&nbsp;simple, redoublée, triplée…&nbsp;— entre une note s'appelant DO et une note supérieure s'appelant MI, il y a donc une TIERCE entre DO double-dièse et MI double-bémol, alors que ces notes produisent… exactement le même son&nbsp;! Si vous jouez DO double-dièse et si vous jouez MI double-bémol, vous produisez le même son, un son correspondant à la note RÉ naturel.
</p>

<%= image("#{rep_img}/Cx-Ebb.png", legend: "Une tierce qui se joue d'un seul doigt&nbsp;!")%>

<p>
Les deux notes produisent LE MÊME SON, et pourtant, elles sont séparées d'UNE TIERCE. Parce que le NOM de l'intervalle n'est déterminé que par le nom des notes, hors de toute altération.
</p>

<p>
On pourrait se dire que c'est pur jeu théorique, mais lorsqu'on connait un peu mieux la musique, on réalise qu'il n'y a rien de théorique là-dedans, même si l'exemple donné est excessif et ne pourrait pas, je pense, trouver de raison d'être au niveau musical. Comprendre&nbsp;: je ne connais aucun cas qui justifierait d'employer simultanément ou successivement un DO double-dièse et un MI double-bémol, hors changement brutal et un peu tordu de tonalité…
</p>

<p>
Donc, si vous voulez connaitre l'intervalle qu'il y a entre deux notes écrites sur une partition, la toute première chose à faire est de <strong>retirer leurs altérations</strong>, de déterminer le NOM de l'intervalle séparant ces deux notes (en comptant simplement sur vos doigts le numéro de la seconde note), puis dans un second temps seulement de remettre les altérations pour connaitre la NATURE de l'intervalle (mineur, majeur, juste, augmenté, etc.).
</p>

<h3>Quelques exemples pour bien fixer les choses</h3>

<p>
Quel intervalle y a-t-il entre ces deux notes (quel est son NOM, quelle est sa NATURE)&nbsp;?
</p>

<%= image("#{rep_img}/Bb-Cd.png", center: true, mp3: "#{rep_son}/Bb-Cd") %>

<p>
Si vous avez reçu une formation quelque peu laxiste, vous compterez qu'il y a un ton et demi entre les deux notes, et vous répondrez UNE TIERCE MINEURE puisque les deux notes sont séparées par un ton et demi, intervalle qui se trouve correspondre, effectivement, à une tierce mineure. Mais seulement lorsque les deux notes sont <em>en rapport de tierce, hors de toute altération</em>.
</p>

<p>
Or, les deux notes ici sont SI et DO. Quelle que soit la situation, il y aura toujours une SECONDE et aucun autre nom d'intervalle possible que la SECONDE entre un SI et un DO. Ces deux notes se suivent, après le SI, le DO, ces deux notes sont <em>conjointes</em>, c'est donc une seconde.
</p>

<p class='italic'>
Notons que si nous mettons la note supérieure à l'octave, nous obtenons un intervalle <strong>redoublé</strong> mais qui porte le même nom —&nbsp;une seconde redoublée ici, qui peut s'appeler aussi NEUVIÈME. Pour l'analyse, hors d'un contexte qui l'imposerait, il faut faire abstraction de la distance réelle entre les deux notes et les rapprocher le plus possible.
</p>

<p>
L'intervalle séparant un SI et un DO étant toujours une SECONDE, nous avons une SECONDE entre nos deux notes, jamais une tierce.
</p>

<p>
À présent remettons les altérations. Nous savons qu'une SECONDE MINEURE contient un demi-ton seulement, qu'une SECONDE MAJEURE contient un ton. Nous avons ici un ton et demi. Nous obtenons donc une seconde majeure augmentée d'un demi-ton, que nous appelons simplement SECONDE AUGMENTÉE.
</p>

<p>
L'intervalle séparant un SI bémol d'un DO dièse est donc <strong>une seconde</strong> —&nbsp;d'après le <strong>nom des notes</strong>&nbsp;— qui est de nature <strong>augmentée</strong> —&nbsp;d'après le <strong>nombre de tons</strong> qui les séparent.
</p>
<p>
En revanche, il y aurait bien une TIERCE entre un SI bémol et un RÉ bémol (RÉ bémol et DO dièse sont <em>enharmoniques</em>, elles produisent le même son).
</p>

<%= image("#{rep_img}/2nd-vs-3ce.png", legend: "Même distance en 1/2 tons (1 ton et demi),<br />mais NOMS différents<br />(SECONDE AUGMENTÉE contre TIERCE MINEURE)") %>

<p>
Encore une fois, il ne s'agit pas de pure théorie ici, et dans un contexte donné, l'oreille fait parfaitement la distinction entre l'un et l'autre. Nous allons le voir avec l'exemple suivant.
</p>

<p>
Essayez de déterminer d'abord par vous-même cet intervalle (son NOM et sa NATURE) puis affichez la solution pour vérifier que vous avez parfaitement compris. Peut-être aurez-vous du mal avec la <em>nature</em> de l'intervalle, essayez de trouver au moins son <em>nom</em>.
</p>

<%= image("#{rep_img}/Eb-Cd.png", center: true, mp3: "#{rep_son}/6aug") %>

<p>
<%= "Afficher la solution".in_a(onclick: "$('div#reponse_01').toggle()") %>
</p>
<div id="reponse_01" style='display:none;margin-left:4em;'>
  <p>
  C'est un intervalle de <strong>SIXTE AUGMENTÉE</strong>. Si c'est celui que vous avez trouvé, bravo à vous&nbsp;! Dans le cas contraire, suivez l'explication ci-dessous.
  </p>
  <p>
  Il y a une SIXTE entre un MI et un DO. Rappelez-vous&nbsp;: on se fiche des altérations pour déterminer le NOM de l'intervalle. Et on compte sur ses doigts si nécessaire pour le déterminer&nbsp;:
  </p>
  <table border="0" cellspacing="5" cellpadding="5" style="text-align:center">
    <tr>
      <td colspan="2"></td><td colspan="6" style="border-width:1px 1px 0 1px;border-style:solid;border-color:blue;"></td><td colspan="2"></td>
    </tr>
    <tr>      <td>DO</td><td>RÉ</td><td><strong>MI</strong></td><td>FA</td><td>SOL</td><td>LA</td><td>SI</td><td><strong>DO</strong></td><td>RÉ</td><td>MI</td>
    </tr>
    <tr>
      <td colspan="2"></td><td><strong>1</strong></td><td>2</td><td>3</td><td>4</td><td>5</td><td><strong>6</strong></td><tdcolspan="2"></td>
    </tr>
    <tr>
      <td colspan="7"></td><td>6</td><td colspan="2">=> SIXTE</td>
    </tr>
  </table>
  <p>
  Une sixte peut être diminuée, mineure, majeure ou augmentée.
  </p>
  <p>
  Pour vérifier celle que nous avons ici, plutôt que de compter le nombre de tons et de demi-tons, je me rappelle de ce repère mnémotechnique&nbsp;: si les deux notes inversées forment une 3ce MAJEURE, alors la sixte formera une 6te MINEURE. Si les notes inversées forment une 3ce MINEURE, alors la 6te sera MAJEURE.
  </p>
  <p>
  Ici, les deux notes inversées DO-MI forment une TIERCE MAJEURE donc MI-DO forme une SIXTE MINEURE.
  </p>
  <%= image("#{rep_img}/C-E_E-C.png", legend: "Tierce MAJEURE => Sixte MINEURE", mp3: "#{rep_son}/CE-EC") %>
  <p>
  Donc MI-DO# forme une SIXTE MAJEURE (sixte majeure = sixte mineure + 1/2 ton)
  </p>
  <p>
  Et donc, si j'élargis encore l'intervalle de sixte en bémolisant le MI, MIb-DO# forme une <strong>SIXTE AUGMENTÉE</strong> (sixte augmentée = sixte majeure + 1/2 ton)
  </p>
</div>

<p>
Cet intervalle est identique, en nombre de tons, à l'intervalle MI bémol - RÉ bémol, une septième mineure —&nbsp;5 tons.
</p>

<%= image("#{rep_img}/6aug-vs-7min.png", legend: "Même intervalle en 1/2 tons (5 tons), mais NOM d'intervalle différent car NOM DE NOTES différent.", mp3: "#{rep_son}/6aug-7") %>

<h3>Loin de toute pure théorie</h3>

<p>
Voilà un exemple —&nbsp;l'exemple précédent&nbsp;— où il est possible de comprendre que ces différences ne sont pas purement théoriques. “Remplissons” ces accords en ajoutant les tierces intermédiaires.
</p>

<%= image("#{rep_img}/Eb6aug-vs-Eb7dom.png", legend: "Accords présentant les MÊMES SONS, mais deux fonctions différentes", mp3: "#{rep_son}/Eb6aug-Eb7") %>

<p>
Si vous ne comprenez pas pourquoi j'ai ajouté un SI bémol plutôt qu'un SI bécarre, rassurez-vous, ça ne jouera pas dans l'explication qui suit.
</p>

<p>
Le premier accord (avec le DO#) est un accord dit “de sixte augmentée” (du nom de l'intervalle que nous devions deviner plus haut) et le second est un accord dit “de 7e de dominante”.
</p>

<p>
Je le répète&nbsp;: ils contiennent les mêmes SONS. C'est-à-dire qu'en les jouant au clavier, hors de tout contexte, vous entendrez strictement la même chose, et il sera impossible de savoir si la note supérieure est un DO# ou un RÉb —&nbsp;en réalité, si votre oreille est entraînée, hors de tout contexte, vous entendrez un RÉb.
</p>

<p>
Maintenant, créons un contexte pour ces accords. Écoutons sur la portée ou jouons au clavier ce premier enchainement qui utilise le second accord (en premier accord ici et réparti aux deux mains)&nbsp;:
</p>

<%= image("#{rep_img}/Eb7-Ab.png", center: true, mp3: "#{rep_son}/cadence-Ab") %>

<p>
Concentrons-nous sur le RÉ bémol supérieur en jouant plusieurs fois cet enchainement, jusqu'à parfaitement entendre la tension qu'il contient, tension qui attend de résoudre le RÉb sur le DO.
</p>

<p>
Maintenant, vidons notre mémoire —&nbsp;en jouant par exemple un autre morceau :-)&nbsp;— et écoutons ou jouons au clavier cet enchainement ou nous jouons en premier accord notre accord de sixte augmentée&nbsp;:
</p>

<%= image("#{rep_img}/Eb6aug-cadence.png", center: true, mp3: "#{rep_son}/6aug-cadence") %>

<p>
Jouons plusieurs fois cet enchainement jusqu'à entendre que le DO# du premier accord est “appelé” par le RÉ du second. La tension du DO# se résout naturellement sur le RÉ.
</p>

<p>
Que venons-nous de voir avec ces deux enchainements&nbsp;?
</p>

<p>
Nous venons de voir qu'un MÊME SON (RÉb ou DO#), dans un cas, est “appelé” par la note inférieure et dans le second cas est “appelé” par la note supérieure. Alors que, je le répète, ces deux sons sont strictement identiques, en tout cas au piano (un chanteur ou un violoniste auraient tendance à baisser à peine le RÉb et à monter à peine le DO#, pour augmenter l'expression).
</p>

<p>
Puisqu'une résolution naturelle de tension se fait toujours sur une note différente —&nbsp;je le dis comme ça pour simplifier l'explication&nbsp;—, alors nous avons forcément un RÉb dans un cas (le premier, pour avoir la résolution RÉb -> DO et non pas DO# -> DO bécarre — qui par parenthèse compliquerait l'écriture (*)) et nous avons forcément DO# dans l'autre cas (le second, pour avoir la résolution DO# -> RÉ et non pas RÉb -> RÉ bécarre —&nbsp;qui là aussi compliquerait l'écriture (*)).
</p>

<h3>Une explication harmonique</h3>

<p>
(*) J'ai parlé de complication de l'écriture ci-dessus, mais en réalité, l'explication est tout aussi <em>harmonique</em> que le reste. Les deux contextes ici, sont les suivants&nbsp;:</p>
<p>
Dans le premier cas, nous sommes en <strong>LA bémol majeur</strong> (4 bémols à la clé).
</p>
  <%= image("#{rep_img}/Eb7-Ab-in-Ab.png", center: true, mp3: "#{rep_son}/cadence-Ab") %>
<p>
Le RÉ est <em>naturellement</em> bémol dans cette tonalité, et il se résout sur un DO tout aussi <em>naturel</em> dans cette tonalité. Pourquoi compliquerions-nous les choses en utilisant un DO#&nbsp;?
</p>
<p>
Dans le second cas, nous sommes en <strong>SOL mineur</strong> (2 bémols à la clé et un FA# ajouté —&nbsp;sensible de la tonalité mineure de SOL mineur).
</p>

<%= image("#{rep_img}/Eb6aug-cadence-in-Gm.png", center: true, mp3: "#{rep_son}/6aug-cadence") %>

<p>Le RÉ est naturellement bécarre dans cette tonalité et le DO —&nbsp;naturel dans cette tonalité&nbsp;— est altéré, diésé, pour faire un emprunt à la dominante. Si vous ne comprenez pas cette notion d'“emprunt à la dominante”, retenez simplement que ce DO# s'explique très simplement dans cette tonalité de SOL mineur. Alors qu'un RÉ bémol serait beaucoup plus compliqué à expliquer.
</p>

<h3>Conclusion</h3>

<p>
Peut-être cela est-il encore un peu confus pour vous, mais j'espère que vous avez perçu au moins l'essence de cette explication, et en quoi ce jeu d'altération —&nbsp;et donc d'intervalles différents&nbsp;— n'avait rien de théorique mais répondait à un phénomène sonore perceptible.
</p>
<p>
Mais l'important, pour le moment, est que vous ayez bien compris l'explication sur les intervalles et la façon de les déterminer avec justesse, sans tomber dans la méprise classique entre leur <em>nom</em>, déterminé seulement par le <em>nom des notes hors de toute altération</em>, et leur <em>nature</em>, qui se calcule dans un second temps en tenant compte des altérations.
</p>

<div class='right small italic'>Spéciale dédicace à -Isabelle S.- qui a inspiré cet article.</div>
