<% 
##
## Gabarit principal
##
## C'est `app', l'instance de l'application, qui est bindée à la vue
##
%>
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv='Content-type' content='text/html; charset=utf-8'>
    <title><%= name %> - <%= title %></title>
    <%= stylesheets %>
    <%= javascripts %>
    <style type="text/css">
      <% if logo_masked? %>
        section#header{display:none;}
      <% end %>
      <% if titres_masked? %>
        h1, h2 {display:none;}
      <% end %>
      <% if liens_tdm_masked? %>
        div.link_to_tdm{display:none;}
      <% end %>
    </style>
  </head>
  <body>
    <%= view 'gabarit/header'   %>
    <%= view 'gabarit/content'  %>
    <%= view 'gabarit/rmargin'  %>
    <%= view 'gabarit/footer'   %>
    <% 
    ##
    ## Spinner
    ##
    %>
    <div id="div_spinner" style="display:none">
      <img src="./public/page/img/spinner.gif" />
      <p id="spinner_message" class='italic small'>Merci de patienter en attendant la fin de l'opération.</p>
    </div>
    <% 
    ##
    ## Débug si on est en offline
    ##
    %>
    <%= debug %>
  </body>
</html>