<h3>Analyse harmonique des mesures 1 à 22 (Isabelle)</h3>

<p class='small italic'>
Isabelle doit commencer par procéder à l'analyse harmonique des mesures 1 à 22.
</p>

<h4>Préambule</h4>

<p>
Isabelle a déjà établi qu'avec 3 bémols à la clé et des SI bécarre, la pièce était dans la tonalité de DO mineur (relatif mineur de MI bémol majeur). 
</p>

<p>
Dans ce premier travail, Isabelle doit analyser les accords de chaque mesure, entendu qu'elle a noté très justement qu'il n'y avait qu'une harmonie (i.e. 1 seul accord) par mesure. Elle doit donc indiquer pour chaque mesure les accords de cette façon&nbsp;:
</p>

<p class='small center'>
NOM et NATURE - DEGRÉ dans tonalité courante (NOTES).
</p>

<p>
Par exemple&nbsp;:
</p>

<p class='center'>
Cm - I (do mib sol)
</p>

<p>
… signifie que les notes relevées sont DO, MIb et SOL (entre parenthèses), que l'accord est un DO mineur (Cm) et que cet accord est l'accord de tonique (I) de la tonalité courante.
</p>

<h4>NOTE IMPORTANTE</h4>

<p>
Dans ces mails d'Isabelle, certaines affirmations peuvent être fausses. Et cela est tout à fait compréhensible puisqu’Isabelle débute l'analyse musicale. Sa seule base théorique de l'analyse est le visionnage du tutoriel <%= link_to "Initiation à l'Analyse musicale", 'technique/essentiels/initiation_analyse' %> conçue par Phil.
</p>

<p>
C'est donc seulement dans le retour de Phil, dans l'article suivant, que les réponses seront validées ou invalidées.
</p>

<h4>Pré-analyse d'Isabelle</h4>

<p>Bonsoir Philippe,</p>
<p>Alors, voilà: </p>
<p>Bon courage à toi :-)</p>

</p>
<%= image_mesure(1) %>
<p>Cm – I (do mib sol) [“Cm” = DO mineur. NdR]</p>


<%= image_mesure(2) %>
<p>Idem</p>

<%= image_mesure(3) %>
<p>Fm – IV (fa lab do), ici 2e renversement. [“Fm” = FA mineur. NdR]</p>

<%= image_mesure(4) %>
<p>
Idem.
</p>

<%= image_mesure(5) %>
<p>
À gauche Fm mais les notes à droite avec tous ces “si” et ces “ré” font plutôt penser à un accord de Hdim [SI bécarre 5te diminuée. NdR], si, ré, fa, un accord de trois demi-tons, ni Majeur, ni mineur qui fait penser au VII degré d’une gamme majeure, mais nous sommes ici en mineur et la mesure suivante est bien en Cm. Je ne vois pas.
</p>

<%= image_mesure(6) %>
<p>Même question.</p>


<%= image_mesure(7) %>
<p>Cm - I</p>

<%= image_mesure(8) %>
<p>Cm7 [DO mineur 7e. NdR] – I (do mib sol sib) la septième est une 7e mineure, 3e renv. car le si est à la basse.</p>


<%= image_mesure(9) %>
<p>Ab [LA bémol majeur. NdR] – VI (lab do mib)</p>


<%= image_mesure(10) %>
<p>Cm – I (do mib sol), 2e renversement.</p>

[…]