<h3>Analyse harmonique des mesures 1 à 22 (suite)</h3>

<%= image_mesure(11) %>
<p>Fa# et la bécarre, à quoi cela me fait penser&nbsp;? À un fa# mineur. Ce pourrait être un F#m si le do était un do #. Je ne vois pas.</p>

<%= image_mesure(12) %>
<p>D [RÉ majeur. NdR] - Ré (fa# la do mib)</p>
<p>Ce serait un accord de fa# M avec une septième mineure et une neuvième mineure. Par rapport à la tonalité de départ Cm, je ne vois pas du tout où on est.</p>


<%= image_mesure(13) %>
<p>Gm [SOL mineur. NdR] – V (sol sib ré)</p>

<%= image_mesure(14) %>
<p>
Idem, sauf que tous les “la” sont devenus des “sol”. Cela n’a pas d’incidence sur l’harmonie de la mesure, enfin, je veux dire qu’on est sur les deux mesures en Gm.
</p>

<%= image_mesure(15) %>
<p>Eb7M [MI bémol 7e majeure. NdR] – III (mib sol sib ré)</p>
<p>Ré est une septième majeure.</p>

<%= image_mesure(16) %>
<p>
Cm – I (do mib sol)</p>
<p>Avec tous les “la” j’étais partie sur un accord de “la”.</p>

<%= image_mesure(17) %>
<p>D7 – (ré fa# la do), do est une septième mineure.</p>

<%= image_mesure(18) %>
<p>
Idem, est-ce que ce D7 est une septième de dominante qui introduit une nouvelle tonalité, à savoir Gm à la mesure 19 ? Une modulation ? J’en aurais trouvé une ?!
</p>

<%= image_mesure(19) %>
<p>Gm – I (sol sib ré)</p>

<%= image_mesure(20) %>
<p>Même problème qu’à la mesure 11.</p>

<%= image_mesure(21) %>
<p>Gm – I (sol sib ré)</p>

<%= image_mesure(22) %>
<p>D7 – V (ré fa# do)</p>