<h3>Analyse harmonique des mesures 1 à 22<br />(retour de Phil)</h3>

<h4>Préambule</h4>

<p>
Dans cette partie, tous les <span class='blue'>textes en bleu</span> sont des réponses correctes d'Isabelle.
</p>

<p>
Tous les <span class='red'>textes en rouge</span> sont des erreurs qui sont explicitées dans les réponses de Phil qui ont ce style&nbsp;:
</p>
<p class='phil'>
Une réponse de Phil est toujours décalée vers la droite, marquée par un trait vertical sur la marge gauche.
</p>

<h4>Préambule</h4>
<div class='phil'>
<p>Hello Isabelle&nbsp;!</p>

<p>C'est vraiment très bien, ce que tu as déjà fait là ;-).</p>

<p>Tu sais le seul truc qui te manque&nbsp;? De bien avoir en tête que la musique est quelque chose de simple ;).</p>

<p>En général, les gens sont très déçus quand ils font de l'analyse, parce qu'ils pensent qu'ils vont découvrir des choses incroyables, compliquées, des secrets, des mystères de la musique.</p>

<p>Le seul secret, le seul mystère de la musique, c'est sa simplicité. Et c'est toujours la simplicité que tu dois rechercher. On y reviendra souvent je pense.</p>

<p>Note, pour la suite, que je pourrais te donner les solutions toute crues quand il y a des erreurs, mais ce n'est pas ma méthode ;-). J'aimerais que tu trouves toute seule, pour être capable de voler le plus vite possible de tes propres ailes.</p>
</div>

<h4>Correction de la pré-analyse d'Isabelle</h4>

<%= image_mesure(1) %>
<p class='blue'>Cm – I (do mib sol) [“Cm” = DO mineur. NdR]</p>


<%= image_mesure(2) %>
<p class='blue'>Idem</p>

<%= image_mesure(3) %>
<p class='blue'>Fm – IV (fa lab do), ici 2e renversement. [“Fm” = FA mineur. NdR]</p>

<%= image_mesure(4) %>
<p class='blue'>
Idem.
</p>

<%= image_mesure(5) %>
<p class='red'>
À gauche Fm mais les notes à droite avec tous ces “si” et ces “ré” font plutôt penser à un accord de Hdim [SI bécarre 5te diminuée. NdR], […]
</p>
<div class='phil'>
<p>
Alors comme tu l'as très bien dit, il y a une harmonie (un accord) par mesure. Donc il ne peut pas y avoir les notes à gauche et les notes à droite ;). En fait, c'est pas tout à fait juste sur ce morceau :). Mais ici, c'est le cas. Il y a un seul accord avec toutes ces notes.
</p>
<p>
NB : avec un piège qui est peut-être le premier piège dans lequel on tombe quand on fait de l'analyse (mais j'ai glissé dans ce message des éléments pour y répondre ;-)).
</p>
</div>

<p class='red'>
si, ré, fa, un accord de trois demi-tons, ni Majeur, ni mineur […]
</p>

<p class='phil'>
Si, un accord diminué (5te dim ou 7e dim) est toujours mineur. La musique est fortement sexuée.
</p>

<p class='red'>
[…] qui fait penser au VII degré d’une gamme majeure, […]
</p>

<p class='phil'>
Seulement une gamme majeure&nbsp;? Es-tu sûre ? Qu'est-ce que c'est l'accord du VIIe degré d'une gamme mineure ? Tu pourrais, par exemple, m'écrire les 4 notes du VIIe degré de la gamme de DO mineur ? (donc les notes de l'accord 7e placé sur le VIIe degré)
</p>

<p class='blue'>
[…] mais nous sommes ici en mineur et la mesure suivante est bien en Cm. Je ne vois pas.
</p>

<p class='phil'>Tu feras attention pour la suite, parce que tu as peut-être des choses fausses en tête (pas beaucoup je crois, mais qui peuvent t'induire en erreur et compliquer des choses très simples)</p>

<%= image_mesure(6) %>
<p>Même question.</p>

<p class='phil'>
Et même réponse :-).
</p>

<%= image_mesure(7) %>
<p class='blue'>Cm - I</p>

<%= image_mesure(8) %>
<p class='blue'>Cm7 [DO mineur 7e. NdR] – I (do mib sol sib) la septième est une 7e mineure, 3e renv. car le si est à la basse.</p>

<div class='phil'>
<p>Là, je vais t'expliquer un petit truc très utile. Tu peux essayer de t'en souvenir, et surtout de l'appliquer systématiquement dans ton approche des morceaux.</p>
<p>Dans l'ordre, tu regardes :</p>
<p>1. L'armure du morceau</p>
<p>2. Les basses, et seulement les basses.</p>
<p>Les basses, jusqu'au XXe siècle, ce sont les rails de la musique. Un morceau comme ça, avec l'armure et les basses, je peux t'écrire toute l'harmonie sans même avoir à regarder les accords (j'exagère un peu, d'accord ?)</p>
<p>Donc, ici, oui, ton Cm7 est juste, si l'on ne se sert pas de son oreille, si l'on fait une pure analyse formelle harmonique.</p>
<p>Mais regarde les basses, et essaie de comprendre ce qui se passe jusqu'à la mesure 13.</p>
</div>

<%= image_mesure(9) %>
<p class='blue'>Ab [LA bémol majeur. NdR] – VI (lab do mib)</p>


<%= image_mesure(10) %>
<p class='blue'>Cm – I (do mib sol), 2e renversement.</p>

<div class='phil'>
  <p>Parfait. Tu peux noter cet accord, il est très particulier (un accord du premier degré avec sa quinte à la basse). C'est ce qu'on appelle <strong>un accord “de quarte et sixte”</strong> (quarte = sol do, sixte = sol mib).</p>
  <p>Tu connais sa fonction au niveau de l'harmonie ?</p>
</div>

<%= image_mesure(11) %>
<p>Fa# et la bécarre, à quoi cela me fait penser&nbsp;? À un fa# mineur. Ce pourrait être un F#m si le do était un do #. Je ne vois pas.</p>

<div class='phil'>
  <p>Alors un Fa#, ça te fait penser à quoi ?</p>
  <p>Je vais te donner un autre repère. Là encore, oublie que la musique est compliquée. C'est tellement simple que dans 78% des cas, une alteration accidentelle, c'est la sensible d'une tonalité vers laquelle on module et dans 20% des autres cas c'est la 7e de l'accord de dominante.</p>
<p>Retiens déjà le premier : <strong>dans 78% des cas, l'altération inconnue qu'on rencontre est la sensible de la tonalité vers laquelle on module</strong>.</p>
<p class='italic'>Note bien que mes pourcentage n'ont rien de scientifique ;-). Je pense qu'ils s'approchent tout de même d'une certaine réalité.</p>
<p>Quand tu as deux altérations, tu as deux choix. Laquelle est la sensible&nbsp;?… À toi de voir en fonction de ce qui se passe ensuite.</p>
</div>


<%= image_mesure(12) %>
<p class='red'>D [RÉ majeur. NdR] - Ré (fa# la do mib)</p>
<p class='red'>Ce serait un accord de fa# M […]</p>

<div class='phil'>
  <p>Comment peux-tu avoir un accord s'appelant FA (dièse, bémol ou ce que tu veux) avec un RÉ en dessous ?</p>
  <p>Attention, la complication te guette :-).</p>
</div>

<p class='red'> […] avec une septième mineure et une neuvième mineure. Par rapport à la tonalité de départ Cm, je ne vois pas du tout où on est.</p>

<div class='phil'>
  <p>Si je cherche simple, j'obtiens RÉ FA# LA comme notes principales de l'accord. C'est quoi comme accord ?</p>
<p>Et avec un DO au-dessus, ça donne quoi ?</p>
<p>Et quelle est sa fonction ?</p>
<p>Pour information : cet accord n'a qu'un seul nom, et il n'a qu'une seule fonction, claire et simple, sans ambiguïté.</p>
<p>On reparlera du MI bémol un peu plus tard. Mais il se peut qu'avec le travail que je te demande sur la mesure 5, tu trouves toi-même la réponse toute simple à ces harmonies toutes simples :).</p>
</div>

<%= image_mesure(13) %>
<p class='red'>Gm [SOL mineur. NdR] – V (sol sib ré)</p>

<div class='phil'>
  <p>Bach faisant du modal ?…</p>
  <p>Le propre du classicisme, Isabelle, c'est que tu ne trouveras jamais un accord V mineur (ah oui&nbsp;?… Et la marche turque, alors&nbsp;?… bon ok, la marche turque… mais je pourrais te l'expliquer autrement, ce Vm de la marche turque, si tu me cherches, Ernest LOL).</p>
  <p>Le V, que ce soit en majeur ou en mineur, est TOUJOURS un accord MAJEUR, et c'est l'accord appelé "7e de dominante".</p>
  <p>Sauf dans la marche turque. Parce qu'elle est turque, justement.</p>
  <p>Plus sérieusement : retiens seulement que c'est exceptionnellement un accord mineur.</p>
</div>

<%= image_mesure(14) %>
<p class='blue'>
Idem, sauf que tous les “la” sont devenus des “sol”.
</p>

<div class='phil'>
  <p>C'est beau, hein :). Ça arrive souvent à Bach d'utiliser des effets seulement une fois, mais il le fait toujours au meilleur endroit.</p>
  <p>Comment tu analyserais ces "la" de la mesure 13.</p>
</div>

<p class='blue'>Cela n’a pas d’incidence sur l’harmonie de la mesure, enfin, je veux dire qu’on est sur les deux mesures en Gm.</p>

<div class='phil'>
  <p>Tout à fait exact. J'aime bien quand tu te sers de ton oreille ! :)</p>
  <p>Pour le détail, si tu dis “en SOL mineur”, ça parle de la <em>tonalité</em>, alors qu'ici tu veux parler des <em>accords</em> (même si, effectivement, nous sommes aussi en SOL mineur ici). Tu peux dire “nous avons un SOL mineur” ou “c'est un SOL mineur” sur les deux mesures.
  </p>
</div>

<%= image_mesure(15) %>
<p class='blue'>Eb7M [MI bémol 7e majeure. NdR] – <span class='red'>III</span> (mib sol sib ré)</p>
<p class='blue'>Ré est une septième majeure.</p>

<div class='phil'>
  <p>Un 3e degré (III)… Je pense qu'il faudra que tu patientes quelque paquets de décades, Isabelle, avant d'en trouver :).</p>
  <p>J'espère que le 3 n'est pas ton chiffre fétiche, parce qu'on ne va pas en rencontrer avant longtemps :).</p>
  <p>Tu le comptes dans la tonalité de DO mineur, mais est-on seulement en DO mineur&nbsp;?…</p>
  <p>Une fois que tu auras trouvé ce qu'il était (parce que maintenant je pense que tu peux), j'aimerais bien que tu essaies de me dire où on a déjà vu ce motif harmonique, dans le morceau.</p>  
</div>

<%= image_mesure(16) %>
<p class='red'>
Cm – I (do mib sol)</p>
<p class='blue'>Avec tous les “la” j’étais partie sur un accord de “la”.</p>

<div class='phil'>
  <p>Donc, pour toi, LA DO MI SOL, c'est un accord de DO ?</p>
  <p>C'est volontairement que je n'ai pas mis les altérations. Si tu as suivi mes vidéos, tu sais qu'on n'a pas besoin des altérations dans ce premier temps de l'analyse des accords. [cf. aussi <%= link_to_article 48 %>. NdR]</p>
  <p>Moi j'aimais bien quand tu étais partie sur un accord de LA :).</p>
</div>



<%= image_mesure(17) %>
<p class='blue'>D7 – (ré fa# la do), do est une septième mineure.</p>

<p class='phil'>Je préfère ta réponse suivante :</p>

<%= image_mesure(18) %>
<p class='blue'>Idem, est-ce que ce D7 est une septième de dominante qui introduit une nouvelle tonalité, à savoir Gm à la mesure 19 ? </p>


<div class='phil'>
  <p>Isabelle, ce que tu fais là, c'est tout simplement parfait ! :).</p>
  <p>Le seul pas que tu as à franchir maintenant, c'est : la musique est simple, si j'ai un accord de septième de dominante c'est OBLIGATOIREMENT un Ve degré d'une NOUVELLE tonalité vers laquelle on MODULE (quand ça n'est pas, bien sûr, l'accord de dominante de la tonalité dans laquelle on se trouve, hein ?).</p>
  <p>Pascal Obispo et Rihanna font exactement la même chose.</p>
  <p>Note bien, quand même, que dans la musique appelée “savante”, c'est valable jusqu'à Debussy à peu près. Après, ça devient un accord de couleur (mais même chez Debussy, les fonctions harmoniques restent là, simplement, elles sont plus suggérées que jouées).</p>
  <p>Note aussi l'utilisation dans le blues : C7 F7 G7, trois accords de dominante utilisés beaucoup pour leur couleur (mais tu noteras quand même que C7 est le V de FA et G7 est le V de DO, donc il n'y a que le F7 qu'on peut vraiment qualifier de pur accord de couleur).</p>
  <p>Donc retiens-le bien : Musique Classique/variété/jazz/pop/musique traditionnelle - un accord de Ve de dominante implique une tonalité (mineure ou majeure)</p>
  <p>Si cette tonalité n'est pas la tonalité courante (du morceau ou pas), hé bien c'est une modulation.</p>
</div>

<p class='blue'>Une modulation ? J’en aurais trouvé une ?!</p>

<div class='phil'>
  <p>Ouuuuuiiiiii ! Bravo Isabelle !!! :) Qu'est-ce que tu dois être contente ! [NdR&nbsp;: C'est réaction un peu démesurée de Phil fait référence à de précédents échanges où Isabelle regrettait de ne pas rencontrer de modulation.]</p>
  <p>Mais attend-on vraiment cette mesure pour avoir notre première modulation&nbsp;?</p>
</div>

<%= image_mesure(19) %>
<p class='blue'>Gm – I (sol sib ré)</p>

<%= image_mesure(20) %>
<p class='blue'>Même problème qu’à la mesure 11.</p>

<div class='phil'>
  <p>Note qu'il n'y a pas de problème. Il n'y a que des solutions :).</p>
  <p>Mais on n'a pas les mêmes notes que sur la 11.</p>
  <p>Là aussi, est-ce que tu pourrais les mettre “dans l'ordre”, ces notes, et me dire, par rapport à ta nouvelle tonalité, ce qu'elles signifient&nbsp;?</p>
</div>

<%= image_mesure(21) %>
<p class='blue'>Gm – I (sol sib ré)</p>

<%= image_mesure(22) %>
<p class='blue'>D7 – V (ré fa# do)</p>

<div class='phil'>
  <p>Très bien mais… le LA, il est passé où&nbsp;? :)</p>
  <p>C'est super Isabelle, bravo à toi. Accroche-toi, tu vas y arriver, je te le dis :)</p>
  <p>Bon courage pour la suite&nbsp;!</p>
  <p>Phil</p>
</div>


 

