<h3>Révision des premières mesures par Isabelle</h3>

<p>Bonsoir Philippe,</p>
<p>Alors c'est reparti, pour donner des réponses simples à des questions somme toute fort simples :-)</p>

<%= image_mesure 5 %>
<p>Le si bécarre fait tout de suite penser au VIIe de Cm , en empilant les tierces, ca donne si, ré, fa.</p>

<%= image_mesure 6 %>
<p>Hdim - VII (si ré fa)</p>

<%= image_mesure 7 %>
<p>pour retomber sur le I degré Cm à la mesure 7.</p>

<p>"Que se passe t-il avec les basses ?" Elles descemdent d'un ton ou d'un demi-ton jusqu'à la mesure 13. Je ne reconnais pas de lien harmonique entre les basses et les accords, soit la basse représente une septième, une tonique, une quinte. A l'oreille, ca donne comme un développement logique, un chemin harmonieux mais harmoniquement je ne vois pas.</p>

 
<%= image_mesure 10 %>
<p>Accord de "sixte et de quarte", non, je ne connais pas la fonction harmonique de cet accord.</p>
 
<%= image_mesure 11 %>
<p>Fa#dim - VII. Fa# me fait penser à la sensible de la gamme de sol, cela devrait conduire vers une modulation de sol.</p>
<p>(Seulement il y a la mesure 12 que je verrais comme une septième de dominante et je me demande  si c'est possible d'avoir un VII et ensuite une 7 de dominante).</p>


<%= image_mesure 12 %>
<p>DM7 (re fa# la do) -  V - septième de dominante pour moduler vers sol.</p>

<%= image_mesure 13 %>
<p>Gm - I (sol sib ré)</p>
<p>(J'ai bien noté qu'un V degré est toujours Majeur).</p>

<p>"Comment analyser les LA?" Les mesures 13 et 14 sont toutes les deux en Gm, peut-être pour donner une impression d'attente en gardant les LA avant une "résolution", je ne sais pas d'ailleurs si le terme est ici exact.</p>

<p>Je m'arrête là car ca se complique un petit peu à la mesure 15, tout en restant bien sûr très simple :-), et j'aimerais bien savoir si les premières sont bonnes.</p>

<p>En tout cas, encore un grand MERCI.</p>

<p>Isabelle</p>