<h3>Retours de Phil (l'Accord de Quarte et Sixte)</h3>

<div class='phil'>
  <p>Bonjour Isabelle,</p>
  <p>Ben c'est super tout ça ! :).</p>
</div>

<%= image_mesure 5 %>
<p class='blue'>Le si bécarre fait tout de suite penser au VIIe de Cm […]</p>

<div class='phil'>
  <p>Oui, tout à fait. Tout simplement.</p>
  <p>Donc l'harmonie de départ : I - IV - VII - I</p>
  <p>Schéma archi classique en mineur.</p>
  <p>Il correspond à la formule harmonique I - II - V - I qui consistue à peu près 90% de la musique classique.</p>
  <p>Le IV et le II sont interchangeables. Donc I - IV, c'est presque comme I - II</p>
  <p>Le VII, c'est simplement un V qui n'a pas de basse (si-ré-fa, tu ajoutes SOL, ça devient un V). Donc ils sont très interchangeable.</p>
  <p>Vraiment, tu peux retenir ça très clairement, tu le rencontreras PARTOUT :-).</p>  
</div>

<p class='blue'>[…] en empilant les tierces, ca donne si, ré, fa.</p>

<div class='phil'>
  <p>Je te le dis quand même : tu oublies le LAb dans ton analyse. L'accord complet, c'est SI - RÉ - FA - LAb, donc un VIIe degré 7e. Un accord de 7e diminuée.</p>
  <p>Et le DO à la basse, qu'est-ce qu'il fait là ? Comment il s'intègre à cette harmonie ?</p>
  <p>(moi je pense que c'est une erreur d'éditeur LOL &lt;- c'est une blague, bien sûr)</p>
</div>

<%= image_mesure 6 %>
<p class='blue'>Hdim [SI bécarre 5te diminuée. NdR] - VII (si ré fa)</p>
<p class='phil'>Donc, ça c'est juste, avec le LAb en plus.</p>

<%= image_mesure 7 %>
<p class='blue'>[…] pour retomber sur le I degré Cm à la mesure 7.</p>

<p>"Que se passe t-il avec les basses ?" Elles descemdent d'un ton ou d'un demi-ton jusqu'à la mesure 13. Je ne reconnais pas de lien harmonique entre les basses et les accords, soit la basse représente une septième, une tonique, une quinte.</p>

<p class='phil'>Elles descendent tout de suite ?</p>

<p class='blue'>A l'oreille, ca donne comme un développement logique, un chemin harmonieux mais harmoniquement je ne vois pas.</p>

<div class='phil'>
  <p>Il y a peut-être quelque chose que tu n'as pas encore clairement en tête&nbsp;: une analyse harmonique <strong>ne peut pas</strong> s'affranchir de l'analyse mélodique. Il y a plein de choses qui s'expliquent non pas par l'harmonie mais par la mélodie.</p>
  <p>Ici, dans ce début, ce qu'il faut voir, entendre et sentir, c'est qu'il y a un développement harmonique (les harmonies que tu as bien révélées maintenant), et un développement mélodique (plusieurs même).</p>
  <p>Ce développement mélodique, bien entendu, va quelque part. C'est de ça dont j'aimerais que tu me parles.</p>
  <p>Et encore une fois&nbsp;: ce que je te demande est extrêmement simple.</p>
</div>



<%= image_mesure 10 %>
<p>Accord de "sixte et de quarte", non, je ne connais pas la fonction harmonique de cet accord.</p>
<div class='phil'>
  <p>C'est un accord fortement cadentiel. Si tu le repères dans les morceaux (où il est archi présent) tu verras qu'il prépare la plupart du temps une cadence parfaite.</p>
  <p>Regarde par exemple dans les 3 mouvements de la sonate dite “facile” de Mozart, les trois mouvements se terminent comme ça, <strong>ce qui n'a rien d'exceptionnel</strong>&nbsp;:</p>
  <p>Premier mouvement&nbsp;:</p>
  <%= image_analyse "KV545-cadence-mvt1.png" %>
  <p>Deuxième mouvement&nbsp;:</p>
  <%= image_analyse "KV545-cadence-mvt2.png" %>
  <p>Et troisième mouvement&nbsp;:</p>
  <%= image_analyse "KV545-cadence-mvt3.png" %>
  <p>Pour le moment, ça serait déjà bien que tu essaies de repérer dans tes morceaux cet accord de tonique sur sa quinte.</p>
</div>

 
<%= image_mesure 11 %>
<p class='blue'>Fa#dim - VII.</p>

<div class='phil'>
  <p>Parfait. J'aimerais juste que tu sois bien précise&nbsp;: c'est un accord de 7e diminuée. Fa# - La (bécarre) - Do - Mib. Donc <strong>F#7dim</strong> pas F#dim qui n'induit que la 5te diminuée (DO).</p>
  <p>Il ne faut oublier AUCUNE note dans une analyse harmonique, même si elle n'est jouée qu'une seule fois.</p>
</div>

<p class='blue'>Fa# me fait penser à la sensible de la gamme de sol, cela devrait conduire vers une modulation de sol.</p>

<div class='phil'>
  <p>C'est tout simplement excellent quand tu réfléchis comme ça :).</p>
  <p>Mais : ça ne <em>conduit pas</em> à une modulation en sol <strong>c'est</strong> une modulation en sol.</p>
  <p>Ça pourrait être un simple APPEL si ça ne résolvait pas sur l'accord I attendu. Mais là, comme tu le montres après, on résout sur l'accord SOL mineur, donc il y a bien <em>modulation</em>, et cette modulation <strong>est effective à partir du moment où l'altération apparait</strong>.</p>
  <p>C'est ce qui fait que la musique soit tellement culturelle. Une oreille <em>culturellement entraînée</em>, ici, perçoit tout de suite cette modulation en SOL et sait d'avance où cela conduit.</p>
</div>


<p class='blue'>(Seulement il y a la mesure 12 que je verrais comme une septième de dominante et je me demande  si c'est possible d'avoir un VII et ensuite une 7 de dominante).</p>

<div class='phil'>
  <p>Non seulement c'est possible, mais c'est en plus <strong>archi fréquent</strong> :).</p>
  <p>Les accords qui n'ont qu'une seule note de différence —&nbsp;et de surcroit si ces deux notes sont à seulement 1/2 ton&nbsp;— sont fortement proches et on abuse de cette proximité, puisque ça donne de la richesse de la manière la plus simple qui soit.</p>
  <p>En mineur, un VII qui devient un V, c'est simplement un LAb qui devient un SOL&nbsp;:</p>
  <%= image_analyse "VII-to-V.png", openable: false %>
  <p>&nbsp;</p>
</div>


<%= image_mesure 12 %>
<p class='blue'>DM7 (re fa# la do) -  V - septième de dominante pour moduler vers sol.</p>
<p class='phil'>Tout à fait. Sauf qu'on est déjà en SOL depuis la mesure 11, comme je l'ai dit.</p>


<%= image_mesure 13 %>
<p class='blue'>Gm - I (sol sib ré)</p>
<p class='blue'>(J'ai bien noté qu'un V degré est toujours Majeur).</p>

<p class='phil'>Est-ce que tu as noté ce qui se passait à la basse, entre la 12 et la 13&nbsp;?</p>

<%= image_mesure 14 %>

<p class='blue'>"Comment analyser les LA?" Les mesures 13 et 14 sont toutes les deux en Gm, peut-être pour donner une impression d'attente en gardant les LA avant une "résolution", je ne sais pas d'ailleurs si le terme est ici exact.</p>

<div class='phil'>
  <p>C'est tout à fait ça&nbsp;:-). On appelle ça un RETARD. C'est le LA de la mesure précédente qui perdure toute une mesure pour rejoindre finalement la note de SOL.</p>
  <p>Un retard peut perdurer bien sûr beaucoup moins longtemps.</p>
  <p>C'est important d'avoir bien ce phénomène en tête —&nbsp;pareil, il est partout&nbsp;— parce que des harmonies qui peuvent paraitre compliquées deviennent en fait très claires quand on repère ces retards.</p>
  <p>Ce qui est joli, ici, c'est qu'avec le dispositif que Bach a mis en place, ça crée une trille lente.</p>
</div>

<p>Je m'arrête là car ca se complique un petit peu à la mesure 15, tout en restant bien sûr très simple :-), et j'aimerais bien savoir si les premières sont bonnes.</p>

<div class='phil'>
  <p>Elles ne sont pas bonnes, Isabelle, elles sont excellentes.&nbsp;:-)</p>
  <p>Pour la suite, c'est simplissime, il y a une seule chose qu'on n'a pas encore vue jusqu'à maintenant. Mais si tu connais tes I II V I, ça devrait être un jeu d'enfant&nbsp;:-).</p>
  <p>Vraiment bravo, Isabelle&nbsp;!</p>
  <p>Pense bien aussi, toujours, à développer ton <strong>esprit synthétique</strong>, dès le départ. Une page comme ça peut se “raconter” en 3 lignes. Analyser des accords pour analyser des accords, ça ne sert pas à grand chose, en fait&nbsp;;). J'y suis particulièrement vigilant, parce que sinon je trouve que l'analyse peut avoir un caractère un peu vain.</p>
  <p>Le fait d'apprendre à synthétiser, c'est ce qui permet aussi d'apprendre le morceau très rapidement et de s'en souvenir —&nbsp;je ne sais pas pourquoi tu veux faire de l'analyse, quelle est ta finalité, mais personnellement, c'est beaucoup pour la mémorisation rapide du morceau que je m'en sers, et pour m'en souvenir —&nbsp;après la compréhension globale de l'architecture du morceau, bien entendu.</p>
  <p>Quand je dis “synthétiser”, c'est très simple&nbsp;: c'est par exemple dire que Bach fait un I - IV - VII - I sur ses 8 premières mesures. Si tu comprends la basse et que tu peux l'exprimer aussi simplement, tu apprends ces 8 mesures en une seule lecture —&nbsp;avec juste quelques connaissances en plus de celles que tu as déjà.</p>
  <p>Et je vais même aller jusqu'au bout de ma réflexion&nbsp;: avant même d'avoir regardé plus précisément les notes/accords, je SAIS qu'il va faire un I - IV - VII - I, parce que ça fait partie des 3 ou 4 possibilités qu'il a à sa disposition et que c'est la plus courante en mineur.</p>
  <p>Et je ne me dis même pas “I IV VII I” parce que ce sont les accords qui viennent, par rapport à la tonalité.</p>  
  <p>Donc, pour mémoriser l'harmonie de ces 8 mesures, j'ai juste à apprendre le mot&nbsp;: “NORMAL”&nbsp;:-) une fois que j'ai compris le motif, le “gimmick” de la main droite et de la main gauche.</p>
  <p>Les notes, ensuite, découleront naturellement du premier accord placé, on a donc juste à apprendre la première mesure.</p>
  <p>Quoi qu'il en soit, encore bravo, Isabelle&nbsp;! Continue tout pareil&nbsp;!&nbsp;:-)</p>
  <p>Phil</p>
</div>
