<h3>Suite d’Isabelle</h3>

<p>Philippe, je vois bien ce que tu veux dire en parlant d'apprendre à synthétiser, c'est là où l'analyse prend tout son sens. Cela demande quand même, je suppose, pas mal d'expérience pour que cela devienne presqu'un réflexe.</p>
<div class='phil'>
  <p>Tu peux même enlever le “presque”. C'est tellement un réflexe que c'est très difficile de retrouver cet état où ça n'était pas évident du tout. Et pourtant, je l'ai connu tout comme toi.</p>
  <p>Mais ce dont je me souviens quand même, c'est que mon “tilt” s'est seulement fait quand je me suis dit “ah oui, c'est ça, c'est la simplicité qu'il faut que je trouve, tout simplement”.</p>
  <p>Parce qu'évidemment, je croyais que ce que je devais chercher était compliqué. Alors que tout est extrêmement simple, dans la musique classique. C'est ce qui fait son incroyable richesse. Comment, en répétant toujours les mêmes choses, en faisant toujours les mêmes schémas, on parvient à faire des choses aussi différentes&nbsp;?</p>
</div>


<p>
Si je souhaite comprendre l'analyse, c'est aussi pour apprendre plus rapidement les morceaux et en comprendre leur structure. J'apprends le piano depuis quelques années déjà et apprendre tous ces morceaux et ne pas en comprendre la structure, j'ai de plus en plus l'impression de me trouver dans une pièce magnifiquement décorée mais à peine éclairée.
</p>
<p class='phil'>Oui, je crois que ton sentiment est juste, à propos de la lumière&nbsp;;).</p>


<p>Je continue&nbsp;:-)</p>
<p class='phil'>Go&nbsp;!&nbsp;:-)</p>

<%= image_mesure 15 %>
<p>Eb7M - VI (mib sol sib ré)</p>


<%= image_mesure 16 %>
<p>
Adim7M - II (la do mib sol), l'altération sur le LA n'a ici aucune signification harmonique (genre sensible ou 7e de dominante), c'est juste pour rappeler que l'on est en Gm&nbsp;?
</p>

<%= image_mesure 17 %>
<p>D7 - V (ré fa# la do)</p>

<%= image_mesure 18 %>
<p>idem</p>

<%= image_mesure 19 %>
<p>Gm - I (sol sib ré)</p>

<%= image_mesure 20 %>
<p>Fa# 7 - VII (fa# la do mib)</p>
<p>Fa# est la sensible de la gamme de sol. Ici on est en modulation de sol.</p>
<p>Le RÉ à la basse, de la mesure 17 à 32, est une note pédale&nbsp;? Donc ne joue aucun rôle au niveau de l'harmonie&nbsp;?</p>

<%= image_mesure 21 %>
<p>Gm - I (sol sib ré)</p>

<%= image_mesure 22 %>
<p>D7 - V (ré fa# la do)</p>
<p>Septième de dominante.</p>

<%= image_mesure 23 %>
<p>Ici, j'ai beau empiler les notes en tierces, désempiler et même… rempiler&nbsp;:-), je ne vois pas. Peux-tu aurais-tu un petit indice en réserve&nbsp;?&nbsp;:-)</p>

 
<p>
Ta question sur la mesure 5: "Et le DO à la basse, qu'est-ce qu'il fait là&nbsp;? Comment il s'intègre à cette harmonie&nbsp;?" Je ne sais pas, peut-être justement qu'il ne s'intègre pas, c'est une note pédale bien que je ne sache pas vraiment ce qu'est une note pédale sauf qu'elle peut être répétée sur plusieurs mesures.
</p>

<p>
… sur les basses qui descendent mesures 8-12: "Ce développement mélodique, bien entendu, va quelque part. C'est de ça dont j'aimerais que tu me parles." J'entends qu'on arrive quelque part avec les deux fa# et puis mesures 13 et 14, cela sonne différemment des autres mesures, comme une transition, pour mieux repartir par la suite.
</p>
 
<p>
"Que se passe t-l à la basse entre mesure 12 et 13&nbsp;?" Tu veux dire entre fa# et sol&nbsp;? (Quand on parle de basse, on parle bien de la note la plus basse&nbsp;?) Eh bien il ne se passe pas grand-chose, cela remonte d'un demi-ton, non&nbsp;?
</p>
 
<p>
"Si tu comprends la basse et que tu peux l'exprimer aussi simplement, ..." Qu'est ce que tu veux dire par “comprendre la basse”&nbsp;?
</p>
<p>À bientôt</p>
<p>Isabelle</p>