<h3>Retours de Phil (la sixte augmentée)</h3>

<p>[…]</p>

<%= image_mesure 17 %>
<p class='blue'>D7 - V (ré fa# la do)</p>

<%= image_mesure 18 %>
<p class='blue'>idem</p>

<%= image_mesure 19 %>
<p class='blue'>Gm - I (sol sib ré)</p>

<div class='phil'>
  <p>Qu'est-ce que c'est, cet enchainement harmonique de 16 à 19&nbsp;? Rien de connu&nbsp;? (je ne dis pas “connu dans le morceau”, mais “connu” en général)
  </p>
  <p>Quelle différence par rapport à ce qu'on peut connaitre&nbsp;? (“en général” aussi)&nbsp;?</p>
  <p>(Le deuxième question est plus difficile —&nbsp;parce que la réponse est trop simple)</p>
</div>


<%= image_mesure 20 %>
<p class='blue'>Fa# 7 - VII (fa# la do mib)</p>
<p class='red'>Fa# est la sensible de la gamme de sol. Ici on est en modulation de sol.</p>

<p class='phil'>A-t-on vraiment une modulation&nbsp;? A-t-on vraiment ouvert une porte et changé de pièce&nbsp;?</p>

<p class='blue'>Le RÉ à la basse, de la mesure 17 à 32, est une note pédale&nbsp;?</p>

<p class='phil'>Tout à fait, c'est une pédale.</p>
  
<p class='red'>Donc ne joue aucun rôle au niveau de l'harmonie&nbsp;?</p>

<div class='phil'>
  <p>Houps… Qui t'a appris qu'une pédale ne jouait aucun rôle dans l'harmonie&nbsp;?… Donne-moi son numéro de téléphone, son adresse, et je m'en vais l'étrangler de ce pas&nbsp;!&nbsp;:-)</p>
  <p>Encore un coup de ton voisin, ça&nbsp;!&nbsp;:)</p>
  <p>Une pédale a au contraire un rôle très fort dans l'harmonie&nbsp;:-). Elle installe de façon forte une tonalité (regarde les premières mesures, typiques), elle prépare un suspense “résolutionnel” dans d'autres cas —&nbsp;nous allons le voir&nbsp;— et plein d'autres choses encore&nbsp;;-).</p>
</div>


<%= image_mesure 21 %>
<p class='blue'>Gm - I (sol sib ré)</p>

<%= image_mesure 22 %>
<p class='blue'>D7 - V (ré fa# la do)</p>
<p class='blue'>Septième de dominante.</p>

<p class='phil'>Tout ça est parfait&nbsp;!</p>


<%= image_mesure 23 %>
<p>Ici, j'ai beau empiler les notes en tierces, désempiler et même… rempiler&nbsp;:-), je ne vois pas. Peux-tu aurais-tu un petit indice en réserve&nbsp;?&nbsp;:-)</p>

<div class='phil'>
  <p>Aïe… Là, Isabelle, je crois qu'un indice ne suffira pas. :-)</p>
  <p>C'est un des rares cas où l'empilage des tierces ne conduit à rien (il faut bien qu'il y ait des exceptions, hein ? :)). Rassure-toi, c'est le seul, avec quelques variantes mais qui reposent sur la même base.</p>
  <p>L'accord dans son état de repos est : Mib Sol Sib Do#, et c'est ce qu'on appelle une "Sixte augmentée".</p>
  <p>La sixte se trouve entre le Mib et le Do#. Mib-Dob est une sixte mineure, Mib-Do est une sixte majeure, Mib-Do# est une sixte augmentée.</p>
  <p>Cet accord, il faut le reconnaitre à la vue comme à l'oreille.</p>
  <p>Ce qu'il faut comprendre c'est ce Mib et ce DO# qui crée comme un écartellement de l'harmonie pour venir placer une cadence.</p>
  <p>Bach ne le fait pas ici, mais quand on en sera à la synthèse de ce morceau, tu verras à quel point ce morceau est rare et étrange (derrière les apparences de simplicité, comme toujours avec Bach).</p>
  <p>On dirait que Bach passe son temps à éviter la conclusion. On y reviendra.</p>
  <p>Et donc, là, il fait une belle 6te augmentée, mais il ne s'en sert pas du tout comme on l'attend.</p>
  <p>Je voudrais te donner un petit exercice, si tu veux bien, pour "fixer" cette 6t augmentée dans ta tête. Parce que c'est une exception à bien mémoriser, parce qu'elle est fréquente, mais beaucoup plus rare que le reste.</p>
  <p>L'enchaînement est&nbsp;:</p>
  <%= image('music/technique/essentiels/Eb6aug-cadence-in-Gm.png')%>
  <p>Je voudrais que tu le joues au clavier jusqu'à bien le reconnaitre, bien l'avoir dans l'oreille.</p>
  <p>Et que tu le transposes dans trois autres tons mineurs : MI mineur, LA mineur et SI bémol mineur (la 3e est difficile)</p>
  <p>Tu écris d'abord les transpositions sur une portée ou sur le papier, puis tu le joues plusieurs fois sur le clavier. Attention&nbsp;: vérifie bien&nbsp;: ne joue pas des choses fausses, c'est dramatique&nbsp;;-).
  </p>
  <p>Pour le jouer&nbsp;: registre médium (en face de toi), 2 notes à la main gauche, 2 notes à la main droite. C'est souvent comm eça qu'on travaille l'harmonie (on s'entraine sur les chorals de Bach&nbsp;:-)).</p>
  <p>Juste une chose&nbsp;: tu noteras que cet accord de 6te augmentée, en fait, par enharmonie, c'est juste un accord de dominante sur le VIe degré mineur.</p>
  <%= image('music/technique/essentiels/Eb6aug-vs-Eb7dom.png')%>
  <p>Do# = Réb par enharmonie.</p>
</div>

<p>
Ta question sur la mesure 5: "Et le DO à la basse, qu'est-ce qu'il fait là&nbsp;? Comment il s'intègre à cette harmonie&nbsp;?" Je ne sais pas, peut-être justement qu'il ne s'intègre pas, […]
</p>

<p class='phil'>
Houps… Je te l'ai déjà dit&nbsp;: Ça n'existe pas une note qui ne s'intègre pas à l'harmonie ;-). En tout cas, pas dans la musique classique&nbsp;:-).
</p>

<p class='blue'>
[…] c'est une note pédale bien que je ne sache pas vraiment ce qu'est une note pédale sauf qu'elle peut être répétée sur plusieurs mesures.
</p>

<div class='phil'>
  <p>Donc tu sais parfaitement ce qu'est une note pédale&nbsp;:-). Pourquoi cherches-tu plus compliqué&nbsp;?</p>
  <p>Une note pédale, c'est une note qui tient sur plusieurs mesures, et surtout sur plusieurs accords.</p>
  <p>Ici, c'est le premier degré (Do - I), tu trouveras un million de morceaux qui dans les premières mesures sont construits sur une pédale. Ça permet d'installer la tonalité sans trop de mouvement, pour mieux bouger ensuite.</p>
</div>

 
<p>
"Que se passe t-l à la basse entre mesure 12 et 13&nbsp;?" Tu veux dire entre fa# et sol&nbsp;? (Quand on parle de basse, on parle bien de la note la plus basse&nbsp;?)
</p>
<div class='phil'>
  <p>Oui, oui, basse, c'est la basse, les notes les plus graves. Mais dans cette pièce, les plans sonores ne sont pas aussi séparés que tu sembles le considérer, en fait.</p>
  <p>Je voulais parler du "ré -> sol" qu'on trouve à la basse (et qu'on entend — moi, dans ces deux mesures, je n'entends pas Fa# -> Sol, mais Ré -> Sol). Et je le jouerais "ré -> sol" (sans être trop lourd, bien sûr :-)).</p>
</div>

<p>
Eh bien il ne se passe pas grand-chose, cela remonte d'un demi-ton, non&nbsp;?
</p>

<div class='phil'>
  <p>J'ai un doute&nbsp;: tu connais tes cadences&nbsp;?</p>
  <p>Parce que je ne pense pas qu'on puisse dire d'une cadence imparfaite qu'il ne s'y passe rien&nbsp;:-)… Surtout quand on a à la basse "Ré - Sol" et qu'on serait donc en droit de penser à une CADENCE PARFAITE.</p>
</div>
 
<p>Qu'est ce que tu veux dire par “comprendre la basse”&nbsp;?</p>

<div class='phil'>
  <p>Je pense que la question est encore un peu compliquée… Parce que la réponse est toute simple :-). On y reviendra, promis (en synthèse).</p>
  <p>Encore bravo à toi, en tout cas, Isabelle&nbsp;! C'est bien, tu t'accroches&nbsp;;-)</p>
  <p>Phil</p>
</div>
