<h3>Analyse des mesures 24 à 43 (Isabelle)</h3>

<p>Je continue maintenant sur les harmonies des mesures 24 à 43.</p>

<p>On était restés sur l’harmonie Gm en mesure 21 puis sur une septième de dominante D7 en mesure 22 pour arriver sur la sixte augmentée en mesure 23.</p>

<p>
Ensuite…
</p>

<%= image_mesure 24 %>
<p>
D7 – V – (ré fa# la do mi)
</p>

<%= image_mesure 25 %>

<p>
Là, je constate deux altérations: mi bécarre et do#. Je ne vois ni modulation par une sensible ni par une 7e. de dominante. Je tourne en rond, je ne vois pas ce que ca peut être.
</p>

<%= image_mesure 26 %>

<p>
Adim7 – II (la do mib sol)
</p>

<%= image_mesure 27 %>

<p>
D7 – V (ré fa# la do) – Je suis sur une modulation en G, confirmée par la mesure suivante.
</p>

<%= image_mesure 28 %>

<p>
Gm – I (sol sib ré), 2e renversement (ré sol sib), accord de quarte et de sixte.
</p>

<%= image_mesure 29 %>
<p>
F#dim7 – VII – Fa# la do mib
</p>

<%= image_mesure 30 %>
<p>
Gm – I (sol sib ré)
</p>

<%= image_mesure 31 %>
<p>
Adim7 – II (la do mib sol), 3e renversement
</p>

<%= image_mesure 32 %>
<p>
D7 – V (ré fa# la (do) mib). Le do, la septième, est absent. On peut quand même designer cet accord par D7&nbsp;?
</p>

<%= image_mesure 33 %>
<p>
F#dim7 – VII (fa# la do mib sol)
</p>

<%= image_mesure 34 %>
<p>
G – V (sol si ré)
</p>
<p>
On a subitement ici un accord de G majeur comme en mesure 37, comment l’expliquer&nbsp;?
</p>

<%= image_mesure 35 %>
<p>
F#dim7 – VII (fa# la do mib), 2e renversement.
</p>

<%= image_mesure 36 %>
<p>
F#dim7 – VII, ici 3e renversement.
</p>

<%= image_mesure 37 %>
<p>
G – V (sol si ré) en majeur, comme mesure 34&nbsp;?
</p>

<%= image_mesure 38 %>
<p>G7 – V (sol si ré fa lab)</p>
<p>Modulation en C par la septième de dominante.</p>

<%= image_mesure 39 %>
<p>Cm – I (do mib sol)</p>

<%= image_mesure 40 %>
<p>F#dim7 – F# (la) do mib</p>
<p>Modulation en G par la sensible F#, on chiffre VII ici&nbsp;?</p>

<%= image_mesure 41 %>
<p>idem.</p>

<%= image_mesure 42 %>
<p>G – I (sol si ré fa#), de nouveau en majeur</p>
<p>On a pas ici deux harmonies dans une même mesure avec fa# la do (F#mb5)&nbsp;?</p>

<%= image_mesure 43 %>
<p>G – I</p>

<p>
Bon, et ben, voilá … Curieuse de voir ce que ça donne :-)
</p>

<p>
Merci aussi à Richard pour la lecture attentive.
</p>



Isabelle

 

La seconde partie de la partition suit ...