<h3>Retour de Phil (de l’importance de la basse)</h3>

<div class='phil'>
  <p>Bonjour Isabelle,</p>
  <p>Waouh&nbsp;! Tu as été jusqu'au bout&nbsp;! Bravo à toi&nbsp;!&nbsp;:-)</p>
</div>

<p>On était restés sur l’harmonie Gm en mesure 21 puis sur une septième de dominante D7 en mesure 22 pour arriver sur la sixte augmentée en mesure 23.</p>

<div class='phil'>
  <p>Avant de voir ton détail harmonique, laisse-moi quand même te répéter quelque chose&nbsp;: <strong>la toute première chose que tu dois regarder</strong> sur une partition, tout de suite après l'armure, <strong>c'est la basse</strong>.</p>
  <p>Prends ce réflexe dès que tu as une partition sous les yeux. Suis le parcours des notes les plus graves, vois ce qu'elles racontent (c'est-à-dire&nbsp;: par quels degrés elles passent —&nbsp;par rapport à la tonalité général déjà, puis avec l’habitude par rapport aux modulations aussi).</p>
  <p>En d'autres termes, avant même de détailler la deuxième moitié du morceau, tu dois regarder la basse, et comprendre ce qu'elle “raconte”.</p>
  <p>L'analyse musicale, comme toute analyse, procède <strong>du général au particulier</strong>.</p>
  <p>Et tu verras que ça n'est pas vain, ça n'est pas intellectuel. Quand tu auras pris l'habitude de le faire, tu verras qu'en commençant par là tu te fais déjà une sensation physique de l'intégralité du morceau. Une sensation vraiment physique qui te permettra 1/&nbsp;de mieux le mémoriser et 2/&nbsp;de mieux l'interpréter comme un ensemble cohérent.</p>
  <p>Cette sensation physique, moi je la ressens toujours au fond de la gorge, mais chacun peut la localiser où il veut.</p>
  <p>Donc, qu'est-ce qu'elle “raconte”, la basse, depuis 24 jusqu'à la fin&nbsp;? C'est une histoire en deux mots, ici. Je ne te demande même pas ce qu'elle a de sidérant, cette histoire, mais qui sait, peut-être que tu en auras l'intuition&nbsp;?&nbsp;:-)</p>
</div>

<%= image_mesure 24 %>
<p class='blue'>
D7 – V – (ré fa# la do mi)
</p>

<%= image_mesure 25 %>

<p>
Là, je constate deux altérations: mi bécarre et do#. Je ne vois ni modulation par une sensible ni par une 7e. de dominante. Je tourne en rond, je ne vois pas ce que ca peut être.
</p>

<div class='phil'>
  <p>L'analyse, c'est simple&nbsp;: quand tu trouves un truc que tu ne comprends pas, c'est une faute de l'éditeur, tout simplement. LOL</p>
  <p>Non, allez, range cet accord et dis-moi ce que c'est. Tu as tous les éléments en main, il y a juste un petit piège, mais qui n'en est plus un puisqu'on a déjà analysé la mesure 5.</p>
  <p>En fait, peut-être que c'est la 6te augmentée qui t'a troublée, mais je te le redis&nbsp;: 6te augmentée, c'est le seul cas, avec l'accord “sus 4” où l'empilement des tierces ne permet pas de donner l'harmonie.</p>  
</div>

<%= image_mesure 26 %>

<p class='blue'>
Adim7 – II (la do mib sol)
</p>
<div class='phil'>
  <p>Et le RÉ à la basse&nbsp;? Tu sais ce que c'est, mais il ne faut jamais oublier de le dire.</p>
  <p>Ici, un second degré sur pédale de&nbsp;?</p>
  <p>En passant&nbsp;: tu trouveras des pédales de toute sorte, mais quand même, dans 98% des cas —&nbsp;musique classique/profane&nbsp;—, on trouve des pédales de tonique —&nbsp;le degré 1 de la tonalité courante&nbsp;— et des pédales de dominante —&nbsp;le degré 5 de la tonalité courante.</p>
  <p>Le degré 4 (pédale de sous-dominante) se trouve aussi assez fréquemment dans la coda des morceaux.</p>
</div>

<%= image_mesure 27 %>
<p class='blue'>D7 – V (ré fa# la do)</p>
<p class='blue'>Je suis en G mineur, confirmée par la mesure suivante.</p>

<%= image_mesure 28 %>

<p class='red'>Gm – I (sol sib ré)</p>
<p class='red'>2e renversement (ré sol sib), accord de quarte et de sixte.</p>

<div class='phil'>
  <p>Bien tenté&nbsp;:-). Mais ton accord est faux.</p>
  <p>Remarque un truc&nbsp;: si tu t'étais raconté la basse, tu n'aurais (peut-être) pas fait cette erreur.</p>
  <p>Donc quel est l'accord ici&nbsp;? (je voudrais ses notes, dans leur état de repos).</p>  
</div>

<%= image_mesure 29 %>
<p class='blue'>F#dim7 – VII – Fa# la do mib</p>
<div class='phil'>
  <p>En fait, si j'ai bien compris, tu ne tiens compte de la basse que lorsque  ça t'arrange, coquine&nbsp;?&nbsp;:-)</p>
  <p>Pourquoi pas un accord de 9e de dominante, ici&nbsp;? (RÉ FA# LA DO MIb)</p>
  <p>Mais tu as raison, hein&nbsp;? Ce qu'on entendrait si l'accord était joué tout seul, ce serait un accord de 9e, mais à cause du contexte —&nbsp;de tout ce qui précède et de ce que raconte la basse&nbsp;—, on le perçoit plutôt comme un VIIe degré 7<sup>eme</sup>, ici.</p>
</div>

<%= image_mesure 30 %>
<p class='blue'>Gm – I (sol sib ré)</p>

<div class='phil'>
  <p>Oui, très bien. Et là, tu as un bel accord de&nbsp;???…</p>
  <p>Ce renversement —&nbsp;qui, typiquement, s'intègre dans une cadence&nbsp;— est à remarquer d'autant plus que pour la toute première fois du morceau, et l'unique fois du morceau, on a quelque chose de très connu, qui se passe de 30 à 33.</p>
</div>


<%= image_mesure 31 %>
<p class='blue'>Adim7 – II (la do mib sol), 3e renversement</p>
<p class='phil'>
Harmoniquement, tu as parfaitement raison, pas de doute. Mais ce SOL, personnellement, je ne l'entend pas comme une 7e d'un second degré… On y reviendra.
</p>

<%= image_mesure 32 %>
<p>D7 – V (ré fa# la <span class='red'>(do) mib</span>).</p>
<p class='red'>Le do, la septième, est absent.</p>
<p class='phil'>
Ah bon&nbsp;?… Moi, sur ma partition, c'est le MIb que je ne vois pas.
</p>

<p>On peut quand même designer cet accord par D7&nbsp;?</p>

<div class='phil'>
  <p>Ben, écoute… que toutes les notes d'un accord ne soient pas jouées, ça arrive hyper fréquemment, mais là, dire qu'on aurait un accord 7e sans… la 7e, c'est un peu fort de chocolat, non&nbsp;?&nbsp;:-) Ça serait comme parler d’une tartelette aux fraises qui n’a pas de… fraises.&nbsp;:-)</p>
  <p>Note qu'un V, ça ne possède pas toujours sa 7e, hein ? C'est même très fréquent. On fait très fréquemment V&nbsp;-&nbsp;V7&nbsp;-&nbsp;I</p>
  <p>Mais bon, ici, le problème ne se pose pas, puisqu'on a un bel accord de dominante à l'état fondamental, et pour cause…</p>
</div>

<%= image_mesure 33 %>
<p class='blue'>F#dim7 – VII (fa# la do mib sol)</p>

<div class='phil'>
  <p>Tu as vu cette grosse faute de l'éditeur, encore&nbsp;? Un SOL à la basse. Ah la la, c'est pas bon, hein&nbsp;?&nbsp;LOL.</p>
  <p>Hé, Isabelle, il faut vraiment que tu analyses les basses, et que tu ne les oublies pas dans ton analyse harmonique&nbsp;;-).</p>
  <p>Donc, là, tu oublies un point capital. Il se passe quelque chose d'unique dans le morceau, ici —&nbsp;mais pas unique dans la musique, hein&nbsp;? c'est un truc qu'on rencontre dans chaque morceau, et même plein de fois en général.</p>
</div>

<%= image_mesure 34 %>
<p class='blue'>G – V (sol si ré)</p>
<p class='phil'>Je le compte bon, même le “V”, mais j'aurais bien aimé que tu me l'explique. En tout cas, c'est bien un SOL majeur, ça, pas de doute.</p>

<p>
On a subitement ici un accord de G majeur comme en mesure 37, comment l’expliquer&nbsp;?
</p>
<div class='phil'>
  <p>Qu'est-ce que tu voudrais expliquer&nbsp;?</p>
  <p>Qu'est-ce que c'est, un SOL majeur, par rapport à la tonalité du morceau&nbsp;? Et qu'est-ce que c'est, un SOL majeur, par rapport à la tonalité courante&nbsp;?</p>
  <p>Est-ce que ça ne fait pas plein de raisons d'aller vers ce ton&nbsp;?</p>
</div>

<%= image_mesure 35 %>
<p class='blue'>F#dim7 – VII (fa# la do mib), 2e renversement.</p>
<p class='phil'>Oui, sauf qu'il y a une basse.&nbsp;;-)</p>

<%= image_mesure 36 %>
<p class='blue'>F#dim7 – VII, ici 3e renversement.</p>
<p class='phil'>Idem &nbsp;;-)</p>

<%= image_mesure 37 %>
<p class='blue'>G – V (sol si ré) en majeur, comme mesure 34&nbsp;?</p>
<p class='phil'>Oui, et comme en 34, pourquoi un V&nbsp;?…</p>

<%= image_mesure 38 %>
<p class='blue'>G7 – V (sol si ré fa lab)</p>
<p class='blue'>Modulation en C par la septième de dominante.</p>


<div class='phil'>
  <p>Oui, excellent, Isabelle&nbsp;:-). Mais Do majeur ou Do mineur&nbsp;?</p>
  <p>Pour être clair&nbsp;: bien sûr, en soi, un accord de septième de dominante peut aller vers le majeur comme vers le mineur, mais ici, on est quand même dans le contexte d'une tonalité.</p>
  <p>Et puis&nbsp;: ce LAb, si tu le mets dans l'accord de dominante, alors c'est une NEUVIÈME DE DOMINANTE (7 + 2).</p>
  <p>Sinon, tu analyses deux accords dans la mesure : G7 / SI7dim, donc V7 / VII7dim</p>
  <p>Si tu poses la question “mais comment choisir entre l'un ou l'autre&nbsp;?”, sache qu'il n'y a AUCUNE RÉPONSE.</p>
  <p>Ça arrive assez fréquemment en musique qu'il n'y ait pas une seule vérité.</p>
  <p>Quelqu'un qui ne connait pas le morceau, qui n'a que rarement entendu de la musique classique et qui a une sensibilité harmonique faible entendra ici l'enchainement : V7 - VII7dim.</p>
  <p>Quelqu'un qui connait le morceau par cœur, OU qui a une belle sensibilité harmonique, entendra un accord de 7e diminué (VII) sur pédale de tonique (parce que son inconscient, intuitivement, aura compris l'usage intensif de la pédale dans le morceau —&nbsp;c'est ce que raconte la basse&nbsp;— aura compris l'usage intensif des accords de 7e diminuée, et donc entendra le LA bémol avant même qu'il ne soit joué.</p>
  <p>Moralité&nbsp;: dans ce genre de cas, ne te prends pas trop la tête à déterminer la vérité, alors qu'il ne peut pas y avoir de vérité absolue. Mais tu seras plus proche de la vérité dans le second cas —&nbsp;car plus cohérent avec le morceau dans sa spécificité et sa globalité.</p>
</div>

<%= image_mesure 39 %>
<p class='blue'>Cm – I (do mib sol)</p>
<div class='phil'>
  <p>Tu l'entends vraiment comme un I&nbsp;?</p>
  <p>Note, Isabelle, que je ne te connais pas, donc je ne sais pas si tu peux répondre à cette question.&nbsp;:-) Je ne sais pas où en est ta perception de la musique au niveau de l'harmonie —&nbsp;c'est-à-dire la perception de la dynamique des accords.</p>
  <p>Est-ce que, vraiment, cet accord de DO mineur est un accord de repos&nbsp;? Est-ce qu'à ce moment du morceau, on pourrait terminer sur ce Do mineur&nbsp;?</p>
  <p>On reviendra aussi là-dessus pour voir ce qui se passe exactement —&nbsp;et qui est banalement ce qui se passe dans pratiquement tous les morceaux de musique classique&nbsp;; quand je dis "banalement", tu auras compris que c'est une blague, hein&nbsp;? parce que cette banalité, le fait que ce soit toujours la même chose, je trouve ça fascinant…</p>
</div>

<%= image_mesure 40 %>
<p class='blue'>F#dim7 – F# (la) do mib</p>

<p class='blue'>Modulation en G par la sensible F#, on chiffre VII ici&nbsp;?</p>
<div class='phil'>
  <p>Tu voudrais chiffrer comment, sinon&nbsp;? Par rapport à DO&nbsp;?</p>
  <p>Et plutôt que “modulation” on pourrait dire “retour” ici puisqu’on était en SOL juste avant.</p>
</div>

<%= image_mesure 41 %>
<p class='blue'>idem.</p>

<%= image_mesure 42 %>
<p class='blue'>G – I (sol si ré fa#), de nouveau en majeur</p>
<div class='phil'>
  <p>Oui, tout à fait, en enlevant le FA#, bien sûr —&nbsp;je ne comprends pas, d'ailleurs, pourquoi tu mets le FA# et pas le MI bémol, et pas le LA bécare…</p>
</div>

<p class='blue'>On a pas ici deux harmonies dans une même mesure avec fa# la do (F#mb5)&nbsp;?</p>

<div class='phil'>
  <p>Ben oui, bravo&nbsp;!&nbsp;:-)</p>
  <p>Il se passe pratiquement toujours une chose originale —&nbsp;par rapport au morceau&nbsp;— à la fin. En général dans une partie qu'on appelle CODA —&nbsp;tu connais le terme, j'en suis sûr.</p>
  <p>Mais il manque une note, quand même… Ça serait bizarre, non, cet accord de quinte diminuée alors qu'on a des 7e diminuées pendant tout le morceau&nbsp;;-). Un petit compositeur ferait ce genre d'erreur de goût, mais Bach, c'est difficilement imaginable.&nbsp;:-)</p>
  
</div>

<%= image_mesure 43 %>
<p class='blue'>G – I</p>

<div class='phil'>
  <p>Sans commentaire, vraiment&nbsp;?</p>
</div>

<p>Bon, et ben, voilá … Curieuse de voir ce que ça donne&nbsp;:-)</p>

<div class='phil'>
  <p>Ben franchement, déjà bravo d'être arrivée une première fois au bout du morceau, Isabelle&nbsp;! Tu peux déjà être fière de toi&nbsp;:-)</p>
  <p>Après, tu auras compris qu'on en avait pas encore terminé avec ce “petit” prélude, hein&nbsp;?&nbsp;:-)</p>
  <p>Par rapport à ce que tu as fait dans cette seconde partie, qui est déjà excellent, attention quand même de ne pas prendre de mauvaises habitudes&nbsp;;-). <strong>Toutes</strong> les notes s'analysent. On ne prend <strong>jamais</strong> seulement les notes qui nous arrangent&nbsp;;-). Toutes les notes doivent s'expliquer, d’une façon ou d’une autre, et de façon simple.</p>
  <p>Mais franchement, accroche-toi, parce que tu as tout à fait les moyens qu'il faut pour bien progresser. Et tu verras, l'analyse, c'est une progression exponentielle. Très très lente au départ, très très laborieuse, et de plus en plus rapide ensuite.</p>
  <p>Plus tu pratiques, et plus tu apprends vite et en profondeur. Pourquoi&nbsp;? Parce que c'est toujours la même chose.&nbsp;;-)</p>
  <p>Encore bravo à toi&nbsp;!</p>
  <p>Phil</p>
</div>

<p>
[…]
</p>