<h3>Échanges (les règles de la pédale)</h3>

<p>
En fait, je reste bloquée sur les mesures 25 et 26.
</p>
<div class='phil'>
  <p>Ah la la, ces mesures 25 / 26. :-)</p>
  <p>Rassure-toi&nbsp;: quand on s'est lancés dans cet analyse, je me suis dit&nbsp;: “bon, combien de temps Isabelle va-t-elle rester bloquée sur la mesure 25&nbsp;?” :-)
  </p>
  <p>Ma réponse a été&nbsp;: 5 jours.</p>
  <p>Parce que je ne te donnerai pas la réponse&nbsp;:-). Tu as tous les moyens de trouver (en tout cas avec les éclaircissements supplémentaires de ce mail), donc c'est bien que tu trouves toi-même&nbsp;:-).</p>
</div>

<%= image_mesure 24 %>

<p class='blue'>
Donc nous sommes en Gm et avons un D7, degré V, en mesure 24.
</p>
<p class='phil'>
Oui, c'est parfait, ça.
</p>

<%= image_mesure 25 %>

<p class='red'>
Em7b5, VII (mi, sol, sib, ré),
</p>
<div class='phil'>
  <p>Et le Do#&nbsp;? Si tu enlèves une note <strong>sans raison</strong>, ton accord est <strong>forcément faux</strong>. Je te le redis&nbsp;: toutes les notes sont à prendre en considération. À partir du moment où tu ne peux pas retirer une note <strong>avec une bonne raison valable simple</strong> (<em>bonne</em>, <em>valable</em> et <em>simple</em> sont trois adjectifs à considérer&nbsp;:-)), alors tu n'as aucune raison de supprimer cette note.</p>
  <p>Sinon, l'analyse n'a plus aucun sens. La note, on <strong>l'entend</strong>, on ne peut pas dire “oh ce DO#, non, il ne sert à rien, je ne l’entends pas…”&nbsp;:-).</p>
</div>

<p>
do#, la sensible est une altération […]
</p>
<p class='phil'>
Qu'est-ce que tu appelles une “altération”&nbsp;? Pour moi, une altération, c'est un dièse (simple ou double), un bémol (idem). Une sensible, ça ne peut pas être une altération… Une sensible c'est une <em>note fonctionnelle</em>.
</p>

<p class='red'>
[…] et nous sommes en F majeur […]
</p>
<p class='phil'>
Un Do# en FA majeur&nbsp;?… Tu pourrais me donner les notes de la gamme de Fa majeur&nbsp;?
</p>

<p class='blue'>
[…] ou plutôt sur sa relative Rém&nbsp;?
</p>
<p class='phil'>
Ah ben oui, je préfère ça&nbsp;!&nbsp;:-)
</p>

<%= image_mesure 26 %>
<p class='red'>
Dm - I ?  (ré la do mib)
</p>
<div class='phil'>
  <p>Un Rém 1er degré, donc une tonalité de RÉ mineur… avec un DO bécarre&nbsp;? et un MI bémol&nbsp;?</p>
  <p>Isabelle, tu es une magicienne&nbsp;:-)&nbsp;! Comment tu fais ça&nbsp;?&nbsp;:-)
  </p>
  <p>Une napolitaine superposée à un accord de tonique&nbsp;?… :-)</p>
  <p>Pour moi, la gamme harmonique de RÉ mineur —&nbsp;donc celle qui permet de construire les accords&nbsp;—, c'est RÉ MI FA SOL LA SIb DO# RÉ. Je ne vois ni DO bécarre, ni MIb. Comment diable pourrait-on se trouver dans une tonalité où deux notes sont remplacées par deux autres&nbsp;?</p>
  <p>Tu es en train de repeindre en bleu les murs de la chambre rouge…&nbsp;;-)</p>
</div>

<p>
Je doute, fort même, mais vraiment, j'ai beau essayer dans tous les sens, rien de simple ne me saute aux yeux.
</p>
<div class='phil'>
  <p>Parce que tu cherches encore trop compliqué.&nbsp;:-)</p>
  <p>Rassure-toi, ça viendra, Isabelle.</p>
  <p>C'est difficile un passage comme ça, au début&nbsp;!</p>
</div>

<p>
Ah oui, une autre question aussi&nbsp;: La note pédale est toujours associée aux accords&nbsp;? Elle n'est jamais à considérer indépendamment des accords&nbsp;?
</p>

<div class='phil'>
  <p>Je ne comprends pas ce que tu veux dire par “associée”. Oui, la pédale, quand on entend le morceau, on l'entend en même temps que les accords.</p>
  <p>Après, si ta question est plutôt “est-ce qu'on compte toujours la note pédale dans la liste des notes de l'accord”, là, je peux te répondre sans ambiguïté : NON.</p>
  <p>La règle de la pédale en musique classique est la suivante&nbsp;: elle doit commencer et se finir sur un accord qui la contient. Donc si la pédale est RÉ, elle doit obligatoirement commencer par un accord qui contient un RÉ et se finir par/avec un accord qui contient un RÉ.</p>
  <p>Entre les deux tu peux faire ce que tu veux, placer n'importe quel accord. Moralité, tu n'en tiens compte que lorsque l'accord rencontré contient cette note pédale. Dans les autres cas, tu l'oublies, avec une <em>bonne</em> raison <em>valable</em> <em>simple</em>&nbsp;: c'est une pédale&nbsp;!</p>
  <%= image_mesure 5 %>
  <p>On l'avait vu dès la mesure 5&nbsp;: une pédale de tonique (DO) sur laquelle est placée un VIIe degré (SI RÉ FA LAb). On ne tient absolument pas compte du DO pour analyser l'accord, le 7e degré. On peut l'enlever avec une <em>bonne</em> raison <em>valable</em> <em>simple</em>.&nbsp;:-)</p>
</div>

  <%= image_mesure '1_7' %>
<div class='phil'>
  <p>Note que cette première pédale (DO) commence sur un DO mineur (donc un accord qui contient DO, la pédale) et se finit sur un accord de DO mineur (mes. 7) qui contient également DO, la note pédale.</p>
  <p>Mais surtout, il faut que tu te serves de tes oreilles. Tu sais que les oreilles, ça donne quand même pas mal d'indications, en analyse&nbsp;:-). Et là, l'oreille, sur tous ces cas, elle dit assez clairement que la note pédale n'appartient pas au VIIe degré qu'il soutient.</p>
  <p>Si ça n'est pas encore clair pour toi à l'oreille, alors c'est bien&nbsp;: l'analyse va te permettre aussi d'enrichir ton écoute. C'est aussi une de ses fonctions.</p>
  <p>Une dernière indication pour que tu franchisses ce passage&nbsp;: la magie d'un accord de 7e diminué, <strong>c'est qu'il s'emploie aussi bien en majeur (une tonalité majeure) qu'en mineur (une tonalité mineure)</strong>. Quand tu as par exemple une 7e diminuée en DO&nbsp;: SI RÉ FA LAb, tu peux aussi bien résoudre cet accord sur un <strong>DO Majeur</strong> que sur un <strong>DO mineur</strong>. La 7e diminuée ne se limite pas au mode mineur (on trouve un milliard d'exemples dans le répertoire).
  </p>
  <p>Bon courage à toi, Isabelle&nbsp;!</p>
</div>

<p>
[…]
</p>