<h3>Septième diminuée et rasoir d’Hockam</h3>

<p>... je garde un  calme olympien...&nbsp;:-)</p>
<p class='phil'>
Super&nbsp;!&nbsp;:-)
</p>
<p>Après tout, encore deux jours pour trouver cette mesure 25...&nbsp;:-)</p>
<p class='phil'>
Et deux nuits&nbsp;!
</p>
<p>Donc&nbsp;:</p>

<%= image_mesure 25 %>
<p class='red'>
Gdim7 - Abm VII (sol sib do# mi)
</p>
<p class='phil'>Houps&nbsp;:-).</p>

<p>
Pourquoi ? C'est une gamme relativement proche de Gm avec 4 bémols à la clé.
</p>
<div class='phil'>
  <p>Tu peux oublier le “relativement”. Une tonalité est proche ou elle ne l'est pas. Si tu as suivi les tutoriels, tu sais qu'une tonalité proche n'a qu'une seul note de différence.</p>
  <p>Et puis je pense que tu veux parler de Ab <em>MAJEUR</em>, pas <em>mineur</em>. Ab mineur est la relative de la tonalité de DO bémol qui a beaucoup plus de 4 bémols&nbsp;;-).</p>
</div>

<p>
J'aurais aussi à te proposer comme empilement de tierces SIb DO# MI SOL...
</p>
<div class='phil'>
  <p>Ça, c'est un empilage de tierce&nbsp;?.........</p>
  <p>Tu es vraiment certaine&nbsp;?.......</p>
  <p>Pour moi, entre SI et DO, il y aura toujours une seconde, jamais une tierce, absolument jamais.</p>
  <p>
  J'ai l'impression que tu fais une confusion assez courant entre intervalle et nombre de demi-tons… Je t'invite vivement à lire <a href="technique-essentiels-intervalles" target="_blank">cet article à propos de cette confusion</a>.
  </p>  
</div>

<p>
En fait, théoriquement différents empilements/accords sont possibles, commement repérer rapidement, simplement le bon&nbsp;?
</p>
<div class='phil'>
  <p>Ben simplement en lisant les notes —&nbsp;rappelle-toi&nbsp;: c'est simple, mais c'est nous qui compliquons toujours.</p>
  <p>Par enharmonie, c'est sûr, un accord de 7e diminuée est une vraie plaque tournante qui peut conduire à au moins 8 tonalités différentes.</p>
  <p>
  Si je joue l'accord suivant —&nbsp;note que je prends le nom le plus simple des notes, je ne respecte absolument pas l'harmonie, dans l'écriture ci-dessous, par rapport à l'explication qui va suivre&nbsp;:
  </p>
  <%= image_icare "common/accords/A7dim.png", center: true, legend: "Un accord de 7e diminuée" %>
  <p>
  Note que ci-dessous le premier accord est <strong>strictement le même dans tous les enchainements</strong>, mais dans les enregistrements, j'ai changé la basse pour mettre en valeur l'enchainement sensible->tonique. Mais cette basse, je l'ai prise dans l'accord, donc ça ne change <strong>rien</strong> à l'accord.
  </p>
  <p>1. Cet accord peut se résoudre en SI bémol majeur&nbsp;:</p>
  <%= image_icare "common/enchainements/A7dim_Bb.png", center: true, mp3: "enchainements/A7dim_Bb" %>
  
  <p>2. Il peut se résoudre en SI bémol mineur&nbsp;:</p>
  <%= image_icare "common/enchainements/A7dim_Bbm.png", center: true, mp3: "enchainements/A7dim_Bbm" %>

  <p>3. Il peut se résoudre en RÉ bémol majeur&nbsp;:</p>
  <%= image_icare "common/enchainements/A7dim_Db.png", center: true, mp3: "enchainements/C7dim_Db" %>

  <p>4. Il peut se résoudre en RÉ bémol mineur&nbsp;:</p>
  <%= image_icare "common/enchainements/A7dim_Dbm.png", center: true, mp3: "enchainements/C7dim_Dbm" %>

  <p>5. Il peut se résoudre en MI majeur&nbsp;:</p>
  <%= image_icare "common/enchainements/A7dim_E.png", center: true, mp3: "enchainements/Dd7dim_E" %>

  <p>6. Il peut se résoudre en MI mineur&nbsp;:</p>
  <%= image_icare "common/enchainements/A7dim_Em.png", center: true, mp3: "enchainements/Dd7dim_Em" %>

   <p>7. Il peut se résoudre en SOL majeur&nbsp;:</p>
   <%= image_icare "common/enchainements/A7dim_G.png", center: true, mp3: "enchainements/Fd7dim_G" %>

   <p>8. Il peut se résoudre en SOL mineur&nbsp;:</p>
   <%= image_icare "common/enchainements/A7dim_Gm.png", center: true, mp3: "enchainements/Fd7dim_Gm" %>
 
  <p>Mais en réalité, quand la musique est écrite, il n'y a aucune ambiguïté. Ci-dessus, j'ai très mal écrit le premier accord, comme si je ne comprenais rien à l'harmonie que je jouais.</p>
  <p>
  Seuls les deux premiers enchainements respectent l'harmonie, en enchainant bien un accord du 7e degré (A 7eme diminuée) à l'accord de tonique&nbsp;:
  </p>
  <p>1. Résolution en SI bémol majeur&nbsp;:</p>
  <%= image_icare "common/enchainements/A7dim_Bb.png", center: true %>
  
  <p>2. Résolution en SI bémol mineur&nbsp;:</p>
  <%= image_icare "common/enchainements/A7dim_Bbm.png", center: true %>
  <p>
  Les deux se résolvent en SIb (majeur ou mineur) et l'accord de 7e diminuée est bien “composé” dans cette tonalité, à partir des notes de la gamme mineure harmonique.
  </p>
  
  <p>
  Pour les autres, j'aurais dû écrire —&nbsp;note bien que le premier accords, même s'il est écrit chaque fois différemment ci-dessous, <strong>est constitué exactement des mêmes sons</strong>&nbsp;:
  </p>
  <p>[Le petit rond en exposant après l'accord signifie “7e diminuée”, en jazz. NdR]
  </p>
  
  <p>3. Résolution en RÉ bémol majeur&nbsp;:</p>
  <%= image_icare "common/enchainements/C7dim_Db.png", center: true, mp3: "enchainements/C7dim_Db" %>

  <p>4. Résolution en RÉ bémol mineur&nbsp;:</p>
  <%= image_icare "common/enchainements/C7dim_Dbm.png", center: true, mp3: "enchainements/C7dim_Dbm" %>

  <p>5. Résolution en MI majeur&nbsp;:</p>
  <%= image_icare "common/enchainements/Dd7dim_E.png", center: true, mp3: "enchainements/Dd7dim_E" %>

  <p>6. Résolution en MI mineur&nbsp;:</p>
  <%= image_icare "common/enchainements/Dd7dim_Em.png", center: true, mp3: "enchainements/Dd7dim_Em" %>

  <p>7. Résolution en SOL majeur&nbsp;:</p>
  <%= image_icare "common/enchainements/Fd7dim_G.png", center: true, mp3: "enchainements/Fd7dim_G" %>

  <p>8. Résolution en SOL mineur&nbsp;:</p>
  <%= image_icare "common/enchainements/Fd7dim_Gm.png", center: true, mp3: "enchainements/Fd7dim_Gm" %>
  
  <p>
  Tu notes que même si le premier des deux accords <strong>contient dans tous les cas exactement les mêmes sons</strong>, il s'écrit pourtant chaque fois différemment, pour bien exprimer la tonalité dans laquelle il se résout, qui peut être tout à fait la tonalité courante, hein ? Ce que je t'explique là, ça n'a rien à voir avec les modulations, même si les modulations, évidemment, adorent ce genre d'accord “plaque tournante”.
  </p>
  <p>
  C'est la raison pour laquelle même un accord comme celui-ci, qui peut à l'oreille induire 8 tonalités différentes ne présente aucune ambiguïté à la lecture, puisqu'il est toujours écrit par les compositeurs pour rendre compte de ce qui se passe.
  </p>
  <p>La seule ambiguïté qui peut se présenter au cours d'une modulation —&nbsp;mais elle s'éclaire par le contexte&nbsp;— c'est de savoir si la résolution va se faire en majeur ou en mineur puisque tu l'as entendu ci-dessus, un accord de 7e diminuée s'emploie aussi bien en majeur qu'en mineur.</p>
  
</div>
 
<%= image_mesure 26 %>

<p>
Ma remarque&nbsp;: Soit je suis sur le VII degré de la gamme de sibM (BM) ou
le II degré de sol m (Gm), un FA# indiquerait qu’on est bien en Gm.<br />
Ta réponse&nbsp;: Donc le FA# implique SOL mineur pour deux raisons fortes&nbsp;: il crée une sensible, il disqualifie le ton majeur en supprimant sa dominante.<br />
Je suis bien d'accord avec toi, le problème ici, c'est que justement, il n'y a pas de FA#, […]</p>

<p class='phil'>
Ah bon&nbsp;?… Sur la mesure peut-être, mais avant et après&nbsp;?… Il n'y a que ça&nbsp;! Et pour corroborer la chose, peux-tu me dire à quand remonte le dernier FA bécarre qu'on a entendu&nbsp;? Donc, dans notre oreille, le FA est de toute façon dièse, sans ambiguïté&nbsp;;-).
</p>

<p>
[…] c'est pourquoi j'avais dit “un FA# indiquerait qu'on est en SOL mineur”. Donc comme il n'y a pas de FA# sur cette mesure, comment reconnaître tout de suite qu'on est en mineur&nbsp;?
</p>

<div class='phil'>
  <p>Tu veux dire : “qu'on est sur le relatif mineur (SOL mineur) plutôt que le relatif majeur (SIb)”&nbsp;?C'est bien ça&nbsp;?</p>
</div>
<p>
Oui.
</p>
<div class='phil'>
  <p>Ici, il y a un bon paquet de raisons. La première, c'est que ça s'entend.</p>
  <p>Et tu es capable de l'entendre.</p>
  <p>Va au piano, et joue ces deux enchainements&nbsp;:</p>
  <p>Supposition en SI bémol majeur&nbsp;:</p>
  <%= image_icare('common/enchainements/A5b7_Bb_with_D.png', center: true, mp3: "enchainements/A75b_Bb_with_D") %>
  <p>Supposition en SOL mineur&nbsp;:</p>
  <%= image_icare('common/enchainements/A5b7_Gm_with_D.png', center: true, mp3: "enchainements/A75b_Gm_with_D") %>  

  <p>Que te dit ton oreille ? Lequel de ces enchainements te semble avoir le plus le caractère “classique”&nbsp;?</p>
  <p>Parviens-tu aussi à entendre ce qui produit vraiment cet effet classique&nbsp;? Quelle note exactement ou plutôt qu'elle enchainement de note, de façon évidente, produit cet effet classique&nbsp;?</p>
  <p>Après, n'oublie jamais qu'on a un cerveau, et que dans ce cerveau, il y a quelque chose qu'on appelle la mémoire (tu ne le savais pas, hein ? LOL)</p>
  <p>C'est quoi la <strong>grosse</strong> différence entre SIb majeur et SOL mineur&nbsp;? Je te l'ai déjà dit&nbsp;: le FA. Entre ces deux tonalités relatives, tout se joue sur cette simple note. Dans le relatif majeur —&nbsp;SI bémol ici&nbsp;—, cette note est <strong>bécarre</strong> et c'est <strong>la dominante</strong>, une note déterminante. Dans le relatif mineur, cette note est <strong>dièse</strong> et c'est <strong>la sensible</strong>, une note déterminante.</p>
  <p>Une tonalité, au sens le plus fort de la musique tonale, <strong>ne peut pas</strong> exister sans dominante, et elle <strong>ne peut pas</strong> exister sans sensible. On serait alors en modal, pas en tonal.</p>
  <p>Donc je reviens à ma question de tout à l'heure&nbsp;: quand a-t-on entendu un FA naturel qui pourrait nous faire penser à SIb majeur&nbsp;?</p>
  <p>C'est à la mesure 6&nbsp;! Tu te rends compte&nbsp;? 20 mesures plus tôt, et en plus, ce FA ne s'entendait même pas comme une dominante de SI bémol, c'était alors une sous-dominante de DO mineur, puisqu'on se trouvait en DO mineur la dernière fois qu'on a entendu ce FA bécarre.</p>
  <p>Donc, dans tout le morceau jusque-là, <strong>jamais</strong> on n'a entendu un FA bécarre, qui serait une dominante de SIb.</p>
  <p>En revanche, si je fais ce raisonnement en SOL mineur, c'est un peu le jour et la nuit, non&nbsp;? Depuis la mesure 11, <strong>toutes les harmonies</strong> que nous avons vues étaient en SOL mineur —&nbsp;exception faite de la 25, mais, tu verras, elle s'explique aussi en SOL mineur.</p>
  <p>Et surtout, on n'a entendu que des FA#, tout du long, depuis un bon moment.</p>
  <p>Donc, si on voit les choses <em>simplement</em>, par quel miracle pourrait-on entendre du SI bémol ici, comment pourrait-il y avoir du SIb majeur ici&nbsp;?</p>
  <p>Et si l'on cherche confirmation par la suite, <strong>tout</strong> indique SOL mineur et <strong>rien</strong> n'indique SIb majeur —&nbsp;on aura un seul FA bécarre ensuite et à nouveau il ne sera même pas une dominante de SIb.</p>
  <p>Tu m'accorderas donc qu'il faudrait chercher <strong>très compliqué</strong> pour voir du SIb majeur ici, non&nbsp;?&nbsp;:-)</p>
  <p>Quand on parle de “simplicité” en analyse, il faut comprendre aussi qu'on applique toujours <strong>le principe du rasoir d'Ockham</strong> : <em>Entia non sunt multiplicanda praeter necessitatem</em>.</p>
  <p>Ça me semble évident ici, non&nbsp;?</p>
  <p>LOL. Non, j'ai fait du latin, mais je serais incapable de traduire cette phrase&nbsp;:-). Je préfère la version française —&nbsp;qui n'est pas une traduction, mais l'énoncé du principe du rasoir d'Ockham&nbsp;:</p>
  <p>
    <strong>“les hypothèses suffisantes les plus simples sont les plus vraisemblables.”</strong>  
  </p>
  <p>Tu noteras les termes “suffisantes”, “simples” et “vrai&shy;sem&shy;bla&shy;bles”.</p>
  <p>On le comprend bien en astronomie&nbsp;: compare la complication des mouvements des planètes avant Copernic/Galilée/Keppler et la simplicité après. Laquelle des deux hypothèses est la plus vraie&nbsp;?…</p>
  <p>Hé bien la plus simple&nbsp;! :-)</p>
  <p>
  C'est exactement la même chose pour l'oreille, donc pour l'analyse.
  </p>
</div>
