<h3>Quelques petites mises au point</h3>

<p>Salve Phil,</p>
<p class='phil'>Bien vu&nbsp;:-).</p>

<p>
Finalement, il y a eu une petite prolongation... de 2 à 6 jours&nbsp;:-). On est encore en Gm et je reviens sur la mesure 25.
</p>
<p class='blue'>
J'avais “proposé” l'empilage de tierces sib do# mi sol, en fait, j'ai bien compris que l'intervalle entre si et do ne peut être une tierce mais sera toujours une seconde.
</p>
<p class='phil'>
Parfait&nbsp;:-).
</p>

<p>
Je pense qu'il s'agit ici de&nbsp;: C#m7, do# mi sol sib.
</p>
<p class='phil'>
Pas loin&nbsp;:-). Mais pas tout à fait ça (la 7e était-elle vraiment mineure&nbsp;?).
</p>

<p>
Après c'est la grande question: j'aurais dit que la sensible altérée do# indique qu'on a changé de tonalité et qu'on est maintenant sur le VII de REm, […]
</p>
<p class='phil'>
Un accord VII en mineur n'est jamais un accord mineur 7. Il a toujours une 7e diminutée, pas une 7e mineure. [Rappel&nbsp;: Si la 7e est mineure ici, ça n'est pas parce qu’il est écrit “accord mineur”, elle est mineure parce que lorsque l'on dit “7e”, sans précision, c'est toujours une 7e mineure. La 7e est mineure <em>par défaut</em>. On doit donc préciser quand elle est majeure ou diminuée. NdR]
</p>

<p> […] mais tu as dit précédemment qu'on ne pouvait pas être ici en REm. Alors vraiment je ne vois pas.
</p>

<div class='phil'>
  <p>Une fois que tu auras trouvé l'accord exact, tu pourras aussi relire ce que je disais de cet accord&nbsp;: même s'il appartient à la tonalité mineure, on l'emploie tout autant en mineur qu'en majeur.</p>
  <p>Je souligne ici la confusion possible&nbsp;: quand je dis "en mineur ou en majeur", <strong>ça ne veut pas dire</strong> “dans le relatif majeur ou le relatif mineur”. Ça veut dire en mineur (RÉ mineur p.e.) ou en majeur (RÉ Majeur).</p>
</div>
 
<p class='blue'>
Par rapport à ta question sur les deux enchaînements, pour moi le plus classique est celui-ci&nbsp;:
</p>
<%= image_icare('common/enchainements/A5b7_Gm_with_D.png', center: true, mp3: "enchainements/A75b_Gm_with_D") %>  

<p class='phil'>Tout à fait ! Sans ambiguïté.</p>

<p>Il n'y a pas de sentiment d'attente, de note qui tend vers une autre note. L'accord est consonant, la quinte est juste, c'est peut-être cette note qui donne l'impression d'équilibre.</p>

<p class='phil'>Le Sib Ré Fa est lui aussi un accord parfaitement consonnant. Et la quinte est juste aussi dans le premier (Sib Fa).</p>

<div class='phil'>
  <p>En réalité, tout se joue sur <strong>la basse</strong>. Dans le premier cas&nbsp;:</p>
  <%= image_icare('common/enchainements/A5b7_Bb_with_D.png', center: true, mp3: "enchainements/A75b_Bb_with_D") %>
  <p>… elle fait RÉ - SIb, donc un III qui arrive sur un I. Ça n'existe pas en classique. On peut en trouver quelques exemples par ci par là dans des cas très particuliers, mais en tout cas l'enchainement III -> I, c'est pas classique du tout, ça ne sonne pas classique du tout. C'est très rare de trouver l'accord III.</p>
  <p>Note bien que je ne parle pas des <em>notes</em> 3 -> 1, parce que dans ce cas, ça arrive très fréquemment, puisque la note 3 est la tierce de l'accord de tonique.
  </p>
  <p>Dans le second cas, on a l'enchainement RÉ -> SOL, donc 5 -> 1 qui est l'enchainement archétypal de la musique classique — et profane quand elle n'est pas modale.</p>
</div>

<p>
“Une tonalité ne peut pas exister sans dominante, et elle ne peut pas exister sans sensible. On serait alors en modal, pas en tonal.”<br />
Je ne sais pas si cela mène trop loin pour le moment, mais je ne comprends pas cette phrase.
</p>

<div class='phil'>
  <p>Oui, excuse-moi, je ne suis pas clair du tout&nbsp;:-). Je voulais simplement dire que si tu supprimes (*) la quinte et la sensible dans une tonalité, il n'y a plus de tonalité, ça n'est plus de la musique tonale comme peut l'être le classique. Ça devient de la musique modale.</p>
  <p>(*) Il y a peut-être confusion dans ta tête sur le terme “supprimer”. Supprimer, ici, ça ne veut pas dire “ne pas jouer la note”, ça signifie <strong>la remplacer par une autre note</strong>.</p>
  <p>Par exemple, si je joue&nbsp;:</p>
  <%= image_icare "pratiques/bwv999/cdefabc.png", center: true, mp3: "pratiques/bwv999/cdefabc" %>  
  <p>Je n'ai pas joué SOL, mais je ne l'ai pas supprimé pour autant. SOL existe implicitement, et aussi peut-être grâce au contexte (aux accords qui seraient joués, à la musique qui précède, etc).</p>
  <p>En revanche, si je joue&nbsp;:</p>
  <%= image_icare "pratiques/bwv999/cdefgdabc.png", center: true, mp3: "pratiques/bwv999/cdefgdabc" %>  
  <p>Là, j'ai vraiment <strong>supprimé</strong> la dominante SOL de la tonalité de DO. Cette note n'existe plus, on a un SOL#. Il n'y a plus de tonalité de DO majeur,  la tonalité de DO Majeur a en quelque sorte explosé parce que sa dominante —&nbsp;SOL&nbsp;— a disparu, elle a été remplacée par la note SOL#.</p>
  <p>Mais on n'est pas en modal, dans cet exemple, puisque tu auras reconnu la tonalité de LA mineur, avec sa quinte MI et sa sensible SOL#.</p>
  <p>En revanche&nbsp;:</p>
  <%= image_icare "pratiques/bwv999/cdefgdabbc.png", center: true, mp3: "pratiques/bwv999/cdefgdabbc" %>
    
  <p>Là, on n'a plus le sentiment de DO majeur ou de LA mineur. Et aucune tonalité ne peut être entendue. Enfin, presque…</p>
  <p>Parce qu'en réalité, une des découvertes de la musique sérielle, c'est qu'on entend toujours une tonalité, quelles que soient les notes. LOL. Ici, en jouant seulement ces notes, on entend du FA majeur (avec le SOL# qui ne serait qu'une appogiature du LA).
  </p>Mais avec un contexte harmonique —&nbsp;joue ces notes sur un accord - MI SOL# SIb - par exemple&nbsp;—, la notion de tonalité est vraiment fortement dissolue.<p>
    
    <%= image_icare "pratiques/bwv999/cdefgdabbc_on_E5dim.png", center: true, mp3: "pratiques/bwv999/cdefgdabbc_on_E5dim" %>
    
  </p>
</div>

<p>
Dans un mesage précédent, tu as posé la question sur la basse “qu'est-ce qu'elle raconte, depuis la mesure 24 jsuqu'à la fin&nbsp;?” A vrai dire, elle ne me dit pas grand-chose, la basse, d'ailleurs comment puis-je reconnaître les notes qui la composent &nbsp;?
</p>

<div class='phil'>
  <p>Ah la la comme c'est dur d'atteindre la simplicité. Regarde ici, comme c'est simple&nbsp;: tu as <strong>une</strong> harmonie par mesure, un seul accord, c'est toi-même qui l'avait relevé. Or, il ne peut y avoir <strong>qu'une</strong> basse par accord —&nbsp;comment un accord pourrait-il avoir “plusieurs notes les plus graves”&nbsp;? donc tu n'as forcément <strong>qu'une</strong> basse par mesure.&nbsp;:-)</p>
  <p>Laquelle&nbsp;? Ben tout bêtement la note la plus grave qu'on trouve dans la mesure, sinon on ne dirait pas <em>la basse</em>.</p>
  <p>Il ne faut pas confondre <em>la mélodie de basse</em> —&nbsp;ici toutes les notes jouées par la main gauche&nbsp;— et <em>la note de basse</em>.</p>
  <p>On y reviendra, de toute façon, dès que tu auras fini l'analyse harmonique complète du morceau.</p>
  <p>Bravo pour ton courage, en tout cas, Isabelle&nbsp;! Vraiment, tu m'impressionnes&nbsp;:-). J'en connais beaucoup qui auraient déjà abandonné&nbsp;;-).
  </p>
</div>