<h3>Mesures 25 à 34 (l'enchainement 5 -> 1 de basse)</h3>

<p>Bonsoir Phil,</p>
<p>Es-tu bien installé pour affronter mes nouveaux errements&nbsp;?&nbsp;:-)</p>

<p class='phil'>La vache&nbsp;! Comme tu es dure avec toi-même&nbsp;:-). Vraiment&nbsp;? tu ne sens pas les progrès que tu fais&nbsp;?</p>
<p class='phil'>Non, c'est encore formidable, ce que tu fais ici&nbsp;;-).</p>

<%= image_mesure 25 %>
<p class='blue'>C#7dim – VII (Ré M), DO# MI SOL SIB</p>
<p class='phil'>Ben tu as gagné tes 1000 euros, je crois&nbsp;:-)</p>

<%= image_mesure 26 %>
<p class='blue'>Am7b5 – II (Gm) , LA DO MIB SOL</p>
<p class='phil'>Parfait.</p>

<%= image_mesure 27 %>
<p class='blue'>D7 – V (Gm) RÉ FA# LA DO</p>
<p class='phil'>Parfait. N'hésite pas à écrire <strong>V7</strong>, si tu veux. Ça t'aidera à mettre en valeur par exemple ce schéma harmonique archi-classique&nbsp;: <strong>I - V - V7 - I</strong>.</p>

<%= image_mesure 28 %>
<p class='blue'>C#7dim – VII (ré M) DO# MI SOL SIB</p>
<p class='phil'>On ne connait que lui&nbsp;:-)</p>

<%= image_mesure 29 %>
<p class='blue'>F#dim7 – VII (Gm), FA# LA DO MIb</p>

<div class='phil'>
  <p>Ah&nbsp;! Je commençais à m'endormir, moi. Qu'est-ce qu'il est soporifique, quand même, ce Bach&nbsp;! LOL (je m'excuse d'avance auprès de ceux qui considère qu'on n'a pas le droit de faire d'humour avec papa Bach… je vous jure, c'est mon maitre absolu)</p>
  <p>Tu remarqueras cet enchainement aussi très classique aux mesures 28 et 29&nbsp;: VII de dominante et VII de tonique.</p>
  <p>Cet enchainement est équivalent à l'enchainement V de V -> V de I qu'on trouve en majeur et qu'on appelle une “Dominante de dominante” —&nbsp;affectueusement&nbsp;: une "Dom de Dom".</p>
  <p>Par exemple : D7 - SOL7 - C.</p>
  <p>D est la dominante de SOL&nbsp;;</p>
  <p>SOL est la dominante de DO&nbsp;;</p>
  <p>Donc D est la dominante de la dominante —&nbsp;sous-entendu&nbsp;: de DO.</p>
  <p>Note que ce D -> G -> C, c'est en fait un II - V - I —&nbsp;Dm -> G -> C&nbsp;— où le II est simplement majorisé, “dominantisé” —&nbsp;non, ça ne signifie pas qu'il se transforme en démon&nbsp;:-) (oui, je sais, mes blagues sont nulles…).</p>
</div>

<%= image_mesure 30 %>
<p class='blue'>Gm – I (Gm), (RÉ) SOL SIB RÉ.</p>
<p>
Ici, l’accord contient la pédale (RÉ), c’est un accord de quarte et de sixte qui annonce un changement cadentiel.
</p>

<div class='phil'>
  <p>Ça annonce une cadence, <strong>pas</strong> un changement cadentiel —&nbsp;“changement candentiel”, ça ne signifie rien, en fait.</p>
  <p>D'autre part, n'associe pas “4te & 6te” à “modulation”, ça n'a rien à voir. La 4te & 6te est un <strong>renversement typique de cadence parfaite</strong> et on le trouve très souvent hors de toute modulation.</p>
  <p>Tu te souviens certainement des exemples que j'avais pris dans chaque fin de mouvement de la sonate facile-mon-œil de Mozart.</p>
  <p>Mais note un point très important&nbsp;: la musique aime par dessus tout ne pas faire ce qui est attendu. En fait, tout l'art joue là-dessus. D'un côté, il faut faire ce qui est attendu —&nbsp;sinon frustration du spectateur/lecteur/auditeur&nbsp;— et de l'autre il ne faut pas faire ce qui est attendu —&nbsp;sinon ennui du spectateur/lecteur/auditeur qui attend un peu de surprise.</p>
  <p>Donc&nbsp;: tu peux très bien préparer une cadence et <strong>ne pas la résoudre</strong>. Tu peux très bien créer une tension et ne pas la résoudre. On appelle ça “détourner la résolution”.</p>
  <p>Bach s'en délecte dans ce morceau. On y reviendra.</p>
</div>

<p class='blue'>On est, de 26 à 30, sur la cadence II (Gm) V(Gm) VII (réM) VII (Gm) I (Gm)</p>
<p class='phil'>Ça ne ressemble pas à du II V I, ça&nbsp;?</p>

<%= image_mesure 31 %>
<p class='red'>Cm – I (Cm) DO MIb SOL</p>

<div class='phil'>
  <p>Houps&nbsp;!&nbsp;:-)</p>
  <p>Les notes que je lis, moi, c'est RÉ - SOL LA(bécarre) MIb DO</p>
  <p>Tu connais parfaitement cet accrod, tu l'as déjà rencontré plein de fois ici, pourquoi, tout à coup, en changes-tu l'interprétation&nbsp;?</p>
  <p>En plus, tu interprètes ce DO mineur comme un accord de tonique (tonalité de DO mineur, donc) avec… un LA bécarre&nbsp;? Combien de bémols, en DO mineur&nbsp;? Et le LA est comment&nbsp;?</p>
  <p>Le LA bécarre, en DO mineur, n'existe que comme note mélodique, et il s'insèrerait dans une mélodie ascendante —&nbsp;SOL LA SI DO&nbsp;— ou descendante —&nbsp;comme à la fin du prélude en SI bémol du premier cahier du clavier bien tempéré.</p>
  <p>Et puis surtout, dis-toi bien une chose Isabelle&nbsp;: tu n'auras <strong>jamais</strong> une modulation produite par un accord I, sauf dans un contexte de changement brutal de tonalité. Et quand je dis changement brutal, c'est brutal. Par exemple en passant de DO majeur à DO# majeur.</p>
  <p>Et même là, on aurait un petit doute, notre oreille attendrait quand même confirmation que ça ne prépare pas une cadence —&nbsp;sauf dans la Compagnie Créole, où l'on attend rien d'autre que de passer un bon moment bien zouk.</p>
  <p>Et c'est très simple à comprendre&nbsp;: l'accord I, c'est l'accord dénué de tension par excellence. Or, LE <strong>propre</strong> de la modulation, c'est <strong>une tension qui est créée</strong>, une tension qu'on n'attendait pas. C'est le premier FA# inattendu de ce morceau, qu'on n'attendait pas en DO mineur.</p>
  <p>Et ici, même si on avait un accord de DO mineur, pourquoi serait-ce une modulation&nbsp;? Pour moi et toi, on est en SOL mineur ici. Le DO mineur, c'est sa sous-dominante, son IV, comme je l'ai dit plus haut.</p>
</div>

<%= image_mesure 32 %>
<p class='blue'>D7 – V (Gm) RÉ FA# LA DO, septième de dominante</p>
<p class='phil'>Parfait.</p>

<%= image_mesure 33 %>
<p>Un Sol (!) à la basse, […]</p>

<div class='phil'>
  <p>Pourquoi ce "(!)"&nbsp;?&nbsp;:-). Si on joue au jeu de l'intrus, c'est ce SOL que tu choisis comme intrus&nbsp;?</p>
  <p>Allez, elle vaut bien 2000 €, cette question-là&nbsp;:-).</p>
</div>

<p class='blue'>
[…] je l’intègre dans l’empilement des tierces, ce qui donne FA# LA DO MIb SOL. Fa#dim7 – VII (Gm), FA# LA DO MIb.
</p>
<p class='phil'>Oui. Précise bien&nbsp;: “sur basse de tonique”.</p>

<p class='blue'>Les mesures 32 et 33 contiennent les notes: FA# LA DO, et la basse RÉ devient SOL.</p>

<div class='phil'>
  <p>Bon, là, ce que je vais te dire, tu dois le graver dans le marbre dans ta tête —&nbsp;en espérant que ta tête contienne un peu de marbre, bien sûr&nbsp;: dans la musique classique, on va dire jusqu'à Chopin —&nbsp;et même chez lui&nbsp;—, l'enchainement 5 (RÉ) -> 1 (SOL) à la basse <strong>n'est jamais anodin</strong>. Joue ces deux notes l'une après l'autre, dans un sens (SOL au-dessus) et dans l'autre (SOL en dessous) et tu comprendras.</p>
  <p>Ça a valeur de <strong>point</strong>. Pas forcément de point final —&nbsp;même si 80% des pièces terminent là-dessus et 99,99% si tu retires la coda, mais de point quand même, parfois de point virgule.</p>
  <p>Tu te rappelles que je t'avais dit que les deux premières choses que tu devais regarder sur une partition, c'était 1/ l'armure (et puis repérer la première altération pour voir si on est dans le relatif mineur) et 2/ <strong>ce que raconte la basse</strong>.</p>
  <p>Dans ce que raconte la basse, tu dois chercher en tout premier lieu ces points-là, ces <strong>5 -> 1</strong>. Tous les enchaînements <strong>5 -> 1</strong> à la basse que tu pourras trouver. En trouvant ça, tu as déjà la construction général de ton morceau. Ici, elle est simplissime.</p>
  <p>Après, quand tu as trouvé ces points, tu regardes comment on arrive à ces points. Ça te parlera déjà beaucoup du morceau. On y reviendra.</p>
</div>
[…]
