<h3>Majorisation, Tensions et Picarde&nbsp;!</h3>

<p>[…]</p>

<p class='blue'>
En mesure 33, nous avons une 7e diminuée qui résout soit sur une tonalité majeure ou mineure. La mesure suivante est en majeure.
</p>
<div class='phil'>
  <p>Oui, excellent, Isabelle&nbsp;!</p>
  <p>Note juste&nbsp;: comme en français, c'est tout simplement le verbe "se résoudre" qui s'emploie&nbsp;: une 7e diminuée se résout sur l'accord de tonique, majorisé —&nbsp;sous-entendu&nbsp;: les tensions de l'accord de 7e diminuée se résolvent sur les notes de l'accord de tonique majorisé.
  </p>
  <p>Tiens, je vais en profiter pour être un peu plus précis à propos de ces tensions, parce que j'ai l'impression qu'on reste un peu trop vague.</p>
  <p>En fait, je te l'ai déjà dit en passant, les deux tensions de la tonalité, c'est la sensible et la quarte, donc les degrés 7 (sensible) et 4 de la tonalité.</p>
  <%= image_icare "common/gammes/notes_tensions.png", center: true %>
  <p>Note que la sensible est vraiment une note de tension “dans l'absolu”, c'est-à-dire qu'elle est toujours “aimantée” par la tonique, alors que le degré 4 peut être entendu comme une note assez stable, quand elle est dans l'accord du II<sup>e</sup> ou du IV<sup>e</sup> degré par exemple.</p>
  <p>Mais si tu les joues ensemble, tu vas entendre qu'elles appellent une résolution évidente sur l'accord de tonique&nbsp;:</p>
  <%= image_icare "common/gammes/triton_vers_tierce_tonique.png", center: true, mp3: "common/tensions/triton_vers_tierce_tonique" %>
  <p>Le 4 descend sur le 3, le 7 (sensible) monte au 1.</p>
  <p>Les deux premières notes, SI et FA, sont la tierce et la 7e de l'accord de dominante. Les deux suivantes, DO et MI, sont la fondamentale et la tierce de l'accord de tonique.</p>
  <p>Comme on peut le voir dans l'enchainement suivant&nbsp;:</p>
  <%= image_icare "common/enchainements/G7_C.png", center: true, mp3: "common/tensions/G7_C" %>
  <p>OK, nous arrivons à nouveau à la mesure 34.
  </p>
</div>

<%= image_mesure 34 %>
<p class='blue'>G - I,  SOL SI RE</p>

<p class='blue'>
Par rapport a la tonalite du morceau, si l'on considere que le morceau est en DO mineur, SOL Majeur en est la dominante.
</p>

<p class='phil'>Oui, la dominante. On aura à y revenir.</p>

<p>
Si je regarde la tonalite courante… je ne sais pas car ce DO mineur en mesure 31 ne me convainc pas… mais je ne vois pas ce que cela pourrait être.
</p>

<div class='phil'>
  <p>Encore une fois, je crois que tu cherches compliqué. On était en quoi&nbsp;? On l'a vu plein de fois&nbsp;: en SOL mineur.</p>
  <p>Même si ton accord de DO mineur était juste (ça n'est pas un accord de DO mineur, en vérité), il ne poserait aucun problème, puisque DO mineur est le IV, l'accord de sous-dominante de la tonalité de SOL mineur. Exactement comme dans les mesures identiques 3 et 4 le FA mineur était le IV de la tonalité de DO mineur&nbsp;:</p>
  <%= image_mesure 3 %>
  <p>Un accord mineur (SOL mineur) qui devient majeur pour conclure le morceau, est-ce que tu trouves que c'est original&nbsp;?</p>
</div>

<p>Ta question me rend plutôt perplexe, je me dis&nbsp;: oui, et alors&nbsp;? Où est le problème&nbsp;!&nbsp;:-)</p>

<div class='phil'>
  <p>Ben faut pas que ça te rende perplexe&nbsp;:-). Ça veut juste dire&nbsp;: de mémoire, est-ce que tu sais si tu l'as rencontré souvent ou c'est la toute première fois que tu le vois dans un morceau&nbsp;?</p>
  <p>En fait, la réponse est bien sûr&nbsp;: c'est un classique du genre, qui n'a vraiment rien d'original en soi. Sauf que là… c'est un tout petit poil plus complexe que d'habitude.</p>
</div>

<p>J’ai trouvé&nbsp;!&nbsp;:-)</p>
<p class='phil'>C'est vrai&nbsp;?&nbsp;:-)</p>

<p>C’est une tierce picarde&nbsp;! Au lieu de terminer sur la tonique en mineure, ce à quoi on s’attendrait, la tierce devient majeure et l’on est donc en SOL Majeur&nbsp;!
</p>

<div class='phil'>
  <p>LOL. Tu sais comment ça s'appelle, ça, Isabelle&nbsp;?&nbsp;:-) De l'excès de zèle&nbsp;:-) Ou du prosélytisme, c'est selon&nbsp;:-).</p>
  <p>Une picarde, rien que ça&nbsp;!&nbsp;:-)</p>
  <p>Non, la picarde, c'est sur le tout dernier accord que ça se joue, c'est un effet de surprise finale.</p>
  <p>Ici, tu n'as que des SI bécarre depuis la mesure 34, il est impossible de produire un effet de picarde. Même la mesure juste avant, 42, tu as un SI bécarre dans la mesure. Donc l'accord SOL est majeur depuis longtemps, alors que dans la picarde, c'est seulement le tout dernier accord posé qui est majorisé.</p>
  <p>Dans une picarde, tu as la mesure précédente qui est en mineur, et tu majorises juste le dernier accord, pour un effet de tierce picarde.</p>
  <p>Et puis c'est vrai que je suis très sadique, mais ma question ne pouvait pas porter sur un terme que tu n'étais pas censée connaitre&nbsp;:-).</p> 
  <p>Non, ici, on a une simple majoration de la tonalité pour exécuter la Coda.</p>
  <p>Et c'est un grand classique du genre. Tu peux prendre toutes les pièces en mineur des deux cahiers du clavier bien tempéré, elles finissent presque toutes comme ça. Je dirais même bien <em>toutes</em>, mais il faudrait que je vérifie scrupuleusement :-).</p>
</div>