<h3>La fin selon Isabelle (mesures 30 à 43)</h3>

<p>Bonjour Phil,</p>

<p>Je suis sur la dernière ligne droite&nbsp;:-)</p>

<p>Nous étions donc en…</p>
<%= image_mesure 30 %>

<p>Gm –I (accord de quarte et sixte)</p>

<%= image_mesure 31 %>
<p>Cm – IV (Gm), DO MIb SOL</p>

<%= image_mesure 32 %>
<p>D7 – V7 (Gm), RÉ FA# LA DO, septième de dominante</p>

<%= image_mesure 33 %>
<p>Fa#dim7 – VII (Gm), FA# LA DO MIb sur basse de tonique</p>
<p>À propos de mon point d’exclamation, je voulais simplement être sûre que tu avais remarqué que j’avais remarqué, une DOM de DOM, en quelque sorte&nbsp;:-)
</p>

<%= image_mesure 34 %>
<p>G – I (SOL SI RÉ), on est ici en majeur, c’est un emprunt, il n’y a pas de résolution sur la tonique</p>

<%= image_mesure 35 %>
<p>Fa#dim7 – VII (Gm), FA# LA DO MIb, sur pédale de SOL</p>

<%= image_mesure 36 %>
<p>idem.</p>

<%= image_mesure 37 %>
<p>G – I, SOL SI RÉ, en majeur, emprunt</p>

<%= image_mesure 38 %>
<p>Si7dim – VII7dim (Cm), SI RÉ FA LAb sur pédale de SOL</p>

<%= image_mesure 39 %>
<p>Cm – IV (Gm), DO MIb SOL</p>

<%= image_mesure 40 %>
<p>Fa#dim7 – VII (Gm), FA# (LA) DO MIb</p>
<p>Tu voudrais chiffrer comment, sinon&nbsp;? Comme la tierce est absente, j’avais un doute sur la notation de l’accord.</p>

<%= image_mesure 41 %>
<p>idem</p>

<%= image_mesure 42 %>
<p>Deux tonalités G – I, SOL SI RÉ et Fa#dim7 VII (Gm), FA# LA DO MIb</p>

<%= image_mesure 43 %>
<p>G I, SOL SI RÉ, nous finissons en majeur.</p>

<p>J'ai une question: Pourquoi est-ce que le morceau n'a pas été composé en SOL mineur, puisqu'une grande partie du morceau est en SOL mineur, cela aurait économisé un bémol à la clé, non&nbsp;? et facilité la lecture.</p>

<p>À bientôt,</p>

<p>Isabelle</p>