<h3>La fin selon PhilIcare (mesures 30 à 43)</h3>

<p class='phil'>Hello Isabelle,</p>
<p class='phil'>C'est vraiment super, tout ça&nbsp;;-)&nbsp;!</p>

<%= image_mesure 30 %>
<p class='blue'>Gm –I (accord de quarte et sixte)</p>
<p class='phil'>Oui, c'est très bien de souligner “quarte et sixte” —&nbsp;avec toujours en tête&nbsp;: ça sent la cadence, parce que c'est un accord typique de cadence.</p>

<%= image_mesure 31 %>
<p class='red'>Cm – IV (Gm), DO MIb SOL</p>
<div class='phil'>
  <p>Moi, j'ai un LA bécarre. Je n'ai donc pas un IV en SOL mineur, mais un II en SOL mineur (LA DO MIb SOL). Sur pédale de dominante. En plus, le LA bécarre, il s'entend, ici, il est vraiment important.</p>
  <p>Mais pas de panique, un II et un IV, c'est très proche, ce sont deux accords frères, presque jumeaux.</p>
  <p>N'oublie jamais de préciser la pédale, hein&nbsp;?&nbsp;:-)</p>
</div>

<%= image_mesure 32 %>
<p class='blue'>D7 – V7 (Gm), RÉ FA# LA DO, septième de dominante</p>
<div class='phil'>
  <p>Parfait.</p>
  <p>Donc, jusque-là nous obtenons <strong>I - II - V</strong>.</p>
</div>

<%= image_mesure 33 %>
<p class='blue'>Fa#dim7 – VII (Gm), FA# LA DO MIb sur basse de tonique</p>
<div class='phil'>
  <p>Excellent&nbsp;!</p>
  <p>Rien à en dire&nbsp;? La question ne concerne pas l'accord en lui-même, mais plutôt ce qui se passe ici, ce qui est fait, harmoniquement, si tu trouves (ça se fait à l'oreille plus qu'à la vue&nbsp;;-)).</p>
</div>

<p>À propos de mon point d’exclamation, je voulais simplement être sûre que tu avais remarqué que j’avais remarqué, une DOM de DOM, en quelque sorte&nbsp;:-)
</p>
<div class='phil'>
  <p>Où est-ce que tu vois une DOM de DOM ?…</p>
  <p>Une DOM de DOM c'est une DOMinante de DOMinante, donc un 5e degré d'un 5e degré. Ici, nous avons simplement un VII, qui est un substitut du V, donc qui est une dominante toute “bête”&nbsp;;-).</p>
</div>

<%= image_mesure 34 %>
<p class='blue'>G – I (SOL SI RÉ), on est ici en majeur, <span class='red'>c’est un emprunt, il n’y a pas de résolution sur la tonique</span>.</p>
<div class='phil'>
  <p>Houps houps houps&nbsp;:-). Sur l'accord de tonique, il n'y a pas d'accord de tonique&nbsp;? Donc quand tu es assise sur une chaise, tu n'es pas assise sur une chaise&nbsp;?&nbsp;:-)</p>
  <p>Dis, tu ne chercherais pas à compliquer un peu notre affaire, là, Isabelle&nbsp;?&nbsp;:-)</p>
  <p>Et pour la clarté&nbsp;: pas de résolution sur I implique un <em>Appel</em>, pas un <em>Emprunt</em>.</p>
  <p>Non, ici, on a un beau I (4&6) - II - V - IM. Une résolution sur le ton majeur, une <strong>majorisation de la tonalité mineure</strong>.</p>
  <p>Et quand une tonalité mineure se résout sur l'accord majeur, on <strong>ne devrait pas</strong> parler de modulation. On devrait parler de <strong>majorisation</strong> ou de <strong>minorisation</strong> dans l'autre sens.</p>
  <p>Pourquoi on ne devrait pas parler de <em>modulation</em> entre un accord mineur et le même accord majeur ou inversement&nbsp;?</p>
  <p>Tout simplement parce que l'<strong>essence</strong> de la <strong>modulation</strong>, c'est l'ajout de <strong>nouvelles tensions</strong>. Principalement l'ajout qui peut venir de la sensible, de la septième (de dominante, donc le 4<sup>e</sup> degré de la tonalité) et dans une moindre mesure du 6e degré en mineur.</p>
  <p>Regarde mesure 11.</p>
  <%= image_mesure 11 %>
  <p>On est en DO mineur avant, et dans cette mesure 11 on trouve tout à coup un FA#.</p>
  <p>Ce FA# <strong>détruit</strong> la tension du FA bécarre (qui est la 7<sup>e</sup> de l'accord de dominante SOL SI RÉ FA, en DO mineur) et ce FA# engendre une sensible —&nbsp;FA# est la sensible de la tonalité de SOL mineur/majeur.</p>
  <p>Voilà une vraie modulation. Destruction des tensions de la tonalité précédente et création de nouvelles tensions qui appartiennent à la tonalité suivante.</p>
  <p>Or, quand tu passes de mineur à majeur, ou inversement, tu ne changes rien aux tensions, les notes restent les mêmes&nbsp;: FA# et DO en SOL Majeur, FA# et DO en SOL mineur.</p>
  <p>En mineur ou en majeur, l'accord de dominante est <strong>strictement le même</strong>. Et c'est lui qui contient les deux tensions principales d'une tonalité.</p>
  <p>Note quand même que dans le langage courant, on peut parler quand même de <em>modulation</em>. Mais plutôt dans une autre situation, quand un thème A est dans le ton mineur, et que le thème B est dans le ton majeur, ou inversement —&nbsp;ce qui arrive fréquemment dans les chansons, dans les lieders. Mais c'est une situation un peu différente de la nôtre.</p>
  <p>Poursuivons.</p>
</div>

<%= image_mesure 35 %>
<p class='blue'>Fa#dim7 – VII (<span class='red'>Gm</span>), FA# LA DO MIb, sur pédale de SOL.</p>
<div class='phil'>
  <p>Alors là, il faut que tu me dises où tu entends du SOL mineur.&nbsp;;-)</p>
  <p>Mais c'est très bien tes chiffrages sur pédale&nbsp;!</p>
</div>

<%= image_mesure 36 %>
<p class='blue'>idem.</p>

<%= image_mesure 37 %>
<p class='blue'>G – I, SOL SI RÉ, en majeur, <span class='red'>emprunt</span>.</p>
<p class='phil'>Il y a des emprunts partout, maintenant&nbsp;!&nbsp;:-). Tu peux me dire où, entre 34 et 42 tu vois un SIb (la note) qui me dirait qu'on est en SOL mineur&nbsp;?</p>

<%= image_mesure 38 %>
<p class='blue'>Si7dim – VII7dim (Cm), SI RÉ FA LAb sur pédale de SOL</p>
<div class='phil'>
  <p>Oui, et là, on a un joli emprunt à DO mineur, puisqu'on trouve le DO mineur dans la mesure suivante.</p>
  <p>On est dans du classique de chez classique&nbsp;: la fin d'un morceau est le lieu où on trouve extrêmement souvent <strong>un emprunt à la sous-dominante</strong>. On y reviendra.</p>
</div>

<%= image_mesure 39 %>
<p class='blue'>Cm – IV (Gm), DO MIb SOL</p>
<div class='phil'>
  <p>J'aurais bien aimé, ici, que tu aies une hésitation. Est-ce qu'on est passé en DO mineur —&nbsp;la tonalité du morceau, quand même&nbsp;—, comme le suppose l'enchainement 38-39&nbsp;? Ou est-ce qu'on a fait juste un emprunt à DO mineur&nbsp;?</p>
  <p>Tu vois, typiquement, c'est ce genre de chose qu'il est bon de jouer, de jouer, de jouer, en écoutant ce qu'on entend. En se sensibilisant à la dynamique tonale. En entendant bien la différence entre ce qui serait une vraie modulation en DO mineur et ce simple emprunt à la sous-dominante de SOL mineur.</p>
  <p>Ça veut dire quoi, “une vraie modulation en DO mineur” ou “un simple emprunt”&nbsp;?.</p>
  <p>C'est relativement simple&nbsp;: ça veut dire qu'après ce passage, si on arrête tout et qu'on se pose la question “à l'oreille, quel est l'accord de repos ?” (donc : quel est l'accord de tonique), la réponse va induire l'un ou l'autre.</p>
  <p>Si on entend vraiment l'accord DO mineur comme l'accord de repos —&nbsp;donc l'accord qui pourrait conclure le morceau&nbsp;—, alors on a vraiment modulé en DO mineur.</p>
  <p>Si au contraire, malgré l'enchainement V / VII&nbsp;->&nbsp;I en DO mineur (38-39) on continue d'entendre le SOL majeur comme accord de repos, alors c'est un simple emprunt, la “vraie” tonalité courante n'a pas changé, c'est toujours SOL.</p>
  <p>Et c'est à l'oreille seule qu'on peut déduire ça —&nbsp;même si, quand tu en seras à ta dixième année d'analyse, tu connaitras ce qui se passe ici par cœur et tu n'auras même plus besoin de l'entendre pour savoir ce que ça fait&nbsp;;-).</p>  
</div>

<%= image_mesure 40 %>
<p class='blue'>Fa#dim7 – VII (<span class='red'>Gm</span>), FA# (LA) DO MIb</p>
<p>Tu voudrais chiffrer comment, sinon&nbsp;? Comme la tierce est absente, j’avais un doute sur la notation de l’accord.</p>
<div class='phil'>
  <p>Tu as remplis l'accord le plus simplement du monde, non&nbsp;? En ajoutant la tierce là où elle était la plus simple, non&nbsp;?</p>
  <p>Hé bien c'est parfait, <em>tout simplement</em>.&nbsp;:-)</p>
  <p>Mais je cherche toujours le SIb qui me donnerait du SOL mineur.:-)</p>
</div>

<%= image_mesure 41 %>
<p class='blue'>idem</p>

<%= image_mesure 42 %>
<p class='blue'><span class='red'>Deux tonalités</span> G – I, SOL SI RÉ et Fa#dim7 VII (<span class='red'>Gm</span>), FA# LA DO MIb</p>
<div class='phil'>
  <p>Tu veux dire vraiment deux tonalités&nbsp;? C'est une œuvre de Joan&nbsp;Darius&nbsp;Bach-Milhaud alors&nbsp;?&nbsp;:-)</p>
  <p>La polytonalité, ça vient quand même un peu plus tard&nbsp;;-).</p>
  <p>Tu oublies qu'un accord de 7e diminuée s'emploie tout aussi bien en majeur qu'en mineur.&nbsp;;-) Donc il peut s'employer en Majeur, comme ici.</p>
</div>


<%= image_mesure 43 %>
<p class='blue'>G I, SOL SI RÉ, nous finissons en majeur.</p>
<p class='phil'>Ça fait quand même un moment que nous l'avons, ce majeur, non&nbsp;?&nbsp;:-)</p>

<p>J'ai une question&nbsp;: Pourquoi est-ce que le morceau n'a pas été composé en SOL mineur, puisqu'une grande partie est en SOL mineur, cela aurait économisé un bémol à la clé, non&nbsp;? et facilité la lecture.</p>

<div class='phil'>
  <p>C'est très pertinent, comme question, Isabelle&nbsp;!</p>
  <p>Je te parlais de quelque chose de sidérant, dans ce morceau. Tu commences à le toucher du doigt.&nbsp;:-)</p>
  <p>Note bien quand même qu'on n'écrit <strong>jamais</strong> pour <em>économiser des bémols</em> ou pour <em>faciliter la lecture</em>. On écrit la musique qu'on entend et surtout en respectant la fonction de ce qu'on entend.</p>
  <p>Si Schubert avait, par facilité, écrit son Impromptu n°4 op. 90 en SOL# mineur au lieu de commencer en LAb mineur (relatif de DO bémol majeur), ça ne serait pas le même morceau&nbsp;: il faudrait le jouer d'une autre façon.</p>
  <p>En nous disant, à nous autres pauvres petites bêtes à 10 doigts&nbsp; “mon morceau est en majeur, avec des bémols et non des dièses, et il commence en mineur”, Schubert nous guide vers la voie de son interprétation.</p>
  <p>C'est un peu différent ici, mais je te laisse y réfléchir encore un peu. Si tu trouves la réponse, là, elle vaut bien 10 000 euros&nbsp;!&nbsp;:-) —&nbsp;et de toute façon, cette réponse n'est même pas “officielle”, c'est la seule que j'ai pu me faire depuis le temps que je cogite sur ce prélude qui de ce point de vue a quelque chose d'unique.</p>
  <p>Tu sais que tu as fait un travail remarquable, toi&nbsp;?&nbsp;:-)</p>
  <p>Et tu sais ce que j'aimerais bien, là&nbsp;? C'est que tu reprennes ta partition et que tu mettes dessus tout ce qu'on a vu, les accords, les modulations, etc. Et ensuite, on pourra conclure&nbsp;!</p>
  <p>Bon courage à toi&nbsp;!</p>
</div>

