<% 
##
## Formulaire pour créer une image (ADMINISTRATEUR)
##
%>
<form id="form_score" action="index.rb" method="POST" accept-charset="utf-8">
  <% if param(:operation) == 'edit_image' %>
    <p>Noter que si vous modifiez l'image en édition, au niveau des notes, et que vous redemandez sa création, l'image précédente sera détruite et remplacée par cette nouvelle.</p>
  <% end %>
  
  <% 
  ##
  ## Champs cachés
  ##
  %>
  <%= "admin/scores".in_hidden(name: 'a') %>
  <%= 
    # Pour donner à javascript la méthode de retour
    "Score/retour_operation".in_hidden(name: 'onreturn') 
    %>
  <%= param('img_id').to_s.in_hidden(name: 'img_id', id: 'image_id') %>
  <%= param('img_ticket').to_s.in_hidden(name: 'img_ticket') %>
  
  
  <% 
  ##
  ## Affichage de l'image si elle existe, mais on met toujours
  ## la balise pour traitement par ajax.
  ##
  %>
  <img id="balise_img_edited_image" src="<%= param('img_src') %>" />

  <%= row("Affixe image", param('img_affixe').to_s.in_input_text(name: 'img_affixe')) %>
  <%= row("Dans (Icare)", "./img/cp_score/" + param('img_folder').to_s.in_input_text(name: 'img_folder')) %>
  
  
  <% 
  ##
  ## Champ de saisie des deux mains
  ##
  %>
  <div id="notes_mains">
    <div class='bold small'>Main droite&nbsp;:</div>
    <textarea id="img_right_hand" name="img_right_hand" rows="2" style="width:100%" onkeypress="$.proxy(Score,'compte_signes')()"><%= param('img_right_hand').to_s %></textarea>
    <div class='bold small'>Main gauche&nbsp;:</div>
    <textarea id="img_left_hand" name="img_left_hand" rows="2" style="width:100%" onkeypress="$.proxy(Score,'compte_signes')()"><%= param('img_left_hand').to_s %></textarea>
  </div>
  
  <% 
  ##
  ## Options cachées
  ##
  %>
  <%= 
    (
      link_to( "Mode d'emploi", 'aide/comments/scores', {form: false} ).in_div(class: 'fleft') +
      "".in_div(class: 'fright small', id: 'signs_count') +
      "Options".in_a(onclick: "$('div#div_options_form').toggle()")
    ).in_div(class: 'center small') 
  %>
  <div id="div_options_form" style="display:none" class='small'>
    <%= "Mode débug (le dossier temporaire Icare sera conservé)".in_checkbox(name: 'cb_debug', checked: (param('cb_debug') == 'on')).in_div %>
    <%= "Masquer les titres".in_checkbox(name: 'cb_mask_titres', checked: titres_masked? ).in_div %>
    <%= "Masquer les liens TDM".in_checkbox(name: 'cb_mask_liens_tdm', checked: liens_tdm_masked? ).in_div %>
    <%= "Pas de limite sur la taille du code".in_checkbox(name: 'cb_no_limit_code', checked: (param('cb_no_limit_code') == "on")).in_div %>
    <%= "Ne pas utiliser Ajax".in_checkbox(name: 'cb_not_ajax', id: 'cb_not_ajax', checked: (param('cb_not_ajax') == "on")).in_div %>
  </div>

  <% if Score::current != nil && Score::current.id != nil %>
    <%= Score::current.as_image.in_input_text(id: 'img_balise_img', onfocus: "this.select()", class: 'small').in_div(class: 'small') %>
  <% end %>
  
  <% 
  ##
  ## Bouton et opération
  ##
  %>
  <div class='row right'>
    <select name="operation" id="operation" onchange="$.proxy(Score,'onchange_operation',this.value)()">
     <option value="create_image">Créer l'image</option>
     <option value="remove_image">Détruire l'image</option>
   </select>
   <%= "Créer cette partition".in_submit(id: 'btn_exec_operation', onclick: "return $.proxy(Score, 'submit_operation')()") %>
  </div>
  
</form>