<% 
##
## Formulaire d'édition du profil
##
%>



<%
##
## Cette vue pouvant être utilisée soit pour l'édition des membres
## soit pour la modification de son profil par le membre, il faut
## faire la distinction ici.
##
edition_membres   = offline? && self.respond_to?(:select_grade)
user_edite_profil = edition_membres == false
%>

<% 
##
## Mettre une barrière ici pour empêcher d'atteindre cette section
## si on n'est pas identifié
##
if user_edite_profil && false == cu.identified?
%>
  <% raise "Pirate !" %>
<% end %>

<form id="user_edit_form" action="index.rb" method="POST" accept-charset="utf-8">
  <% if edition_membres %>
    <%= "admin/membres".in_hidden(name: 'article') %>
  <% else %>
    <%= "user/profil".in_hidden(name: 'article') %>
  <% end %>
  <%= "enregistrer".in_hidden(name: 'operation') %>
  <% if edition_membres %>
    <%= row("Pseudo",         user.pseudo.in_input_text(name: 'user_pseudo', placeholder: "Pseudo")) %>
    <%= row("ID",             user.id.to_s.in_input_text(name: 'user_id', placeholder: "ID")) %>
  <% else %>
    <%= row("", user.pseudo, {class: 'bold'})   %>
    <%= user.id.to_s.in_hidden(name: 'user_id') %>
    <%= user.pseudo.to_s.in_hidden(name: 'user_pseudo') %>
  <% end %>
  <%= row("Mail",           user.mail.in_input_text(name: 'user_mail', placeholder: 'Mail'))   %>
  <% if edition_membres %>
    <%= row("Grade",          select_grade) %>
    <%= row("Code secret", user.get(:password).to_s.in_input_text(name: 'user_pwd', placeholder: "Code secret")) %>
  <% else %>
    <%= row("Nouveau code", param('new_password').to_s.in_input_text(name: 'user_new_password')) %>
    <%= row("Confirmation code", param('new_password_confirmation').to_s.in_input_text(name: 'user_new_password_confirmation')) %>
    <%= row( "", user.hgrade ) %>
    <%= user.grade.to_s.in_hidden(name: 'user_grade')%>
  <% end %>
  <%= row("Blog externe",   user.blog.to_s.in_input_text(name: 'user_blog', placeholder: "Blog")) %>
  <%= row("Chaine YouTube", user.chaine_yt.to_s.in_input_text(name: 'user_chaine_yt', placeholder: 'Chaine YouTube')) %>
  <%= row("Site perso",     user.site.to_s.in_input_text(name: 'user_site', placeholder: 'Site')) %>
  <%= row("Description",    user.description.in_textarea(name: 'user_description', placeholder: 'Description', style: "height:200px;")) %>
  <%= row("", "Enregistrer".in_submit, {class: 'buttons'}) %>
</form>
