<h2>Votre profil</h2>

<div class='p small right'>
  <%= link_to "Modifier votre profil", :edit_profil %>
</div>

<%= row( "Pseudo", cu.pseudo ) %>
<%= row( "Grade",  cu.hgrade)  %>
<%= row( "Inscription", cu.get(:created_at).as_human_date ) %>
<%= row( "Mail", cu.mail ) %>
<%= row( "Description", cu.hdescription ) %>


<div class='p small right'>
  <%= link_to "Explication des grades", 'main/grades' %>
</div>
<div class='p small right'>
  <%= link_to :articles_en_projet %>
</div>
<div class='p small right'>
  <%= link_to :vote_articles %>
</div>